@using Window.Application.StaticTools
@model Window.Domain.ViewModels.Account.ResetPasswordViewModel
@using Window.Web.Culture
@{
    ViewData["Title"] = "بازیابی کلمه ی عبور";
    var Time = ViewBag.Time;
    Layout = "Identity/_IdentityLayout";
    var culture = ApplicationCultures.GetCurrentCulture();
    var isRtl = culture.IsRtl;
}

@section Scripts
    {
    <partial name="_ValidationScriptsPartial" />
    <partial name="_SweetAlertLocalizer" />

    <script src="~/common/Simple-Countdown-Timer-Plugin-jQuery/jquery.simple.timer.js"></script>
    <script src="~/common/Simple-Countdown-Timer-Plugin-jQuery/examples/bundle.js"></script>
    <script src="~/common/Simple-Countdown-Timer-Plugin-jQuery/examples/dojo.js"></script>

    <script>
        $(function () {

            $("#timer").startTimer({
                onComplete: function () {
                    $("#SMS").css({ 'display': 'block' });
                    $("#timer").css({ 'display': 'none' });
                }
            });

        });
    </script>
}

@section styles
    {
    <style>
        .jst-hours {
            float: left;
        }

        .jst-minutes {
            float: left;
        }

        .jst-seconds {
            float: left;
        }

        .jst-clearDiv {
            clear: both;
        }

        .jst-timeout {
            color: red;
        }
    </style>
}

<div class="login-container animated fadeInDown">
    <form asp-action="ResetPassword" asp-controller="Identity" method="post">
        <div class="loginbox bg-white">
            <div class="loginbox-title">بازیابی کلمه ی عبور</div>
            
            @if (ViewData.ModelState.ErrorCount > 0)
            {
                <div asp-validation-summary="All" class="alert alert-danger margin-left-20 margin-right-20 margin-top-10"></div>
            }

            <div class="loginbox-textbox">
                <label asp-for="ActiveCode">کد ارسال شده</label>
                <input asp-for="ActiveCode" class="form-control" />
                <span asp-validation-for="ActiveCode" class="text-danger small"></span>
            </div>
            
            <div class="loginbox-textbox">
                <label asp-for="Password">رمز عبور</label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger small"></span>
            </div>

            <div class="loginbox-textbox">
                <label asp-for="ConfirmPassword">تکرار کلمه ی عبور</label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger small"></span>
            </div>

            <div class="remember-me-wrap" style="padding-left:50px;">
                <p class="timerCounter" data-seconds-left="@Time" id="timer"></p>
            </div>

            <div class="loginbox-textbox">

                <a id="SMS" asp-area="" asp-controller="Identity" asp-action="ActiveUserByMobileActivationCode" asp-route-Mobile="@ViewBag.Mobile" asp-route-Resend="true" class="btn btn-warning" style="display: none"><span> ارسال مجدد کد  </span></a>

            </div>


            <div class="loginbox-submit mt-3" dir="rtl">
                <input type="submit" class="btn btn-primary" value="ثبت">
            </div>

        </div>
    </form>
</div>


