
<div class="page-sidebar" id="sidebar">


    <ul class="nav sidebar-menu">

        <li>
            <a asp-action="Index">
                <i class="menu-icon glyphicon glyphicon-home"></i>
                <span class="menu-text"> خانه </span>
                <i class="menu-expand"></i>
            </a>
        </li>

        @if (User.Identity.IsAuthenticated)
        {
             <li>
                <a  asp-area="Seller" asp-controller="Home" asp-action="Index">
                    <i class="menu-icon glyphicon glyphicon-home"></i>
                    <span class="menu-text">پنل فروشگاه  </span>
                    <i class="menu-expand"></i>
                </a>
            </li>

            <li>
                <a  asp-area="" asp-controller="Market" asp-action="AddMarket">
                    <i class="menu-icon glyphicon glyphicon-home"></i>
                    <span class="menu-text"> درخواست ثبت فروشگاه </span>
                    <i class="menu-expand"></i>
                </a>
            </li>
        }
        else
        {
              <li>
                <a  asp-area="" asp-controller="Identity" asp-action="Login">
                    <i class="menu-icon glyphicon glyphicon-home"></i>
                    <span class="menu-text"> ورود </span>
                    <i class="menu-expand"></i>
                </a>
            </li>

              <li>
                <a  asp-area="" asp-controller="Identity" asp-action="Register">
                    <i class="menu-icon glyphicon glyphicon-home"></i>
                    <span class="menu-text"> ثبت نام </span>
                    <i class="menu-expand"></i>
                </a>
            </li>
        }

    </ul>
</div>
