



<div class="container mt-5 mb-md-4 pt-5">
    <nav class="mb-3 pt-md-3" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">خانه</a></li>
            <li class="breadcrumb-item active" aria-current="page">درباره ما</li>
        </ol>
    </nav>
</div>

<section class="container mb-5 pb-2">
    <div class="row align-items-center justify-content-center">
        <!-- Hero content-->
        <div class="col-lg-4 col-md-5 col-sm-9 order-md-1 order-2 text-md-start text-center">
            <h1 class="mb-4 ">درباره سایت</h1>
            <p class="mb-4 pb-3 fs-lg">ما خدمات کاملی را برای فروش، خرید یا اجاره املاک و مستغلات ارائه می دهیم. ما بیش از 10 سال است که کار می کنیم. میلیون ها آپارتمان و خانه را در Finder جستجو کنید.</p><a class="btn btn-lg btn-primary" href="real-estate-contacts.html">تماس با ما</a>
        </div>
        <!-- Hero carousel-->
        <div class="col-lg-7 col-md-6 offset-md-1 col-12 order-md-2 order-1">
            <div class="tns-carousel-wrapper tns-controls-static tns-nav-outside">
                <div class="tns-outer" id="tns1-ow">
                    <div class="tns-controls" aria-label="Carousel Navigation" tabindex="0"><button type="button" data-controls="prev" tabindex="-1" aria-controls="tns1"><i class="fi-chevron-right"></i></button><button type="button" data-controls="next" tabindex="-1" aria-controls="tns1"><i class="fi-chevron-left"></i></button></div><div class="tns-liveregion tns-visually-hidden" aria-live="polite" aria-atomic="true">slide <span class="current">5</span>  of 2</div><div id="tns1-mw" class="tns-ovh">
                        <div class="tns-inner" id="tns1-iw">
                            <div class="tns-carousel-inner  tns-slider tns-carousel tns-subpixel tns-calc tns-horizontal" data-carousel-options="{&quot;loop&quot;: true, &quot;gutter&quot;: 16}" id="tns1" style="transform: translate3d(-66.6667%, 0px, 0px);">
                                <div class="tns-item tns-slide-cloned" aria-hidden="true" tabindex="-1"><img class="rounded-3" src="/FinderSample/img/real-estate/about/hero/01.jpg" alt="Carousel image"></div><div class="tns-item tns-slide-cloned" aria-hidden="true" tabindex="-1"><img class="rounded-3" src="/FinderSample/img/real-estate/about/hero/02.jpg" alt="Carousel image"></div>
                                <div class="tns-item" id="tns1-item0" aria-hidden="true" tabindex="-1"><img class="rounded-3" src="/FinderSample/img/real-estate/about/hero/01.jpg" alt="Carousel image"></div>
                                <div class="tns-item" id="tns1-item1" aria-hidden="true" tabindex="-1"><img class="rounded-3" src="/FinderSample/img/real-estate/about/hero/02.jpg" alt="Carousel image"></div>
                                <div class="tns-item tns-slide-cloned tns-slide-active"><img class="rounded-3" src="/FinderSample/img/real-estate/about/hero/01.jpg" alt="Carousel image"></div><div class="tns-item tns-slide-cloned" aria-hidden="true" tabindex="-1"><img class="rounded-3" src="/FinderSample/img/real-estate/about/hero/02.jpg" alt="Carousel image"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

<section class="container mb-2 mb-xl-5 pb-lg-4">
    <h2 class="h3 mb-4">دلیل انتخاب شرکت ما</h2>
    <!-- Features carousel-->
    <div class="tns-carousel-wrapper tns-nav-outside">
        <div class="tns-outer" id="tns2-ow">
            <div class="tns-liveregion tns-visually-hidden" aria-live="polite" aria-atomic="true">slide <span class="current">1 to 3</span>  of 3</div><div id="tns2-mw" class="tns-ovh">
                <div class="tns-inner" id="tns2-iw">
                    <div class="tns-carousel-inner  tns-slider tns-carousel tns-subpixel tns-calc tns-horizontal" data-carousel-options="{&quot;loop&quot;: false, &quot;controls&quot;: false, &quot;responsive&quot;: {&quot;0&quot;:{&quot;items&quot;:1, &quot;gutter&quot;: 16},&quot;500&quot;:{&quot;items&quot;:2, &quot;gutter&quot;: 20},&quot;768&quot;:{&quot;items&quot;:3, &quot;gutter&quot;: 24}}}" id="tns2" style="transition-duration: 0s; transform: translate3d(0%, 0px, 0px);">
                        <!-- Feature slide-->
                        <div class="tns-item tns-slide-active" id="tns2-item0">
                            <div class="card border-0">
                                <div class="card-body">
                                    <svg class="mb-3" xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="#fd5631">
                                        <path d="M13.585 21.456a10.416 10.416 0 1 0 20.832 0c0-5.76-4.656-10.464-10.416-10.464s-10.416 4.704-10.416 10.464zm18.096 0c0 4.224-3.456 7.68-7.68 7.68s-7.68-3.456-7.68-7.68 3.456-7.68 7.68-7.68 7.68 3.408 7.68 7.68zm-10.225-.96a1.36 1.36 0 0 0-1.92 0 1.36 1.36 0 0 0 0 1.92l2.352 2.352c.24.24.624.384.96.384s.72-.144.96-.384l4.512-4.512a1.36 1.36 0 0 0 0-1.92 1.36 1.36 0 0 0-1.92 0l-3.552 3.552-1.392-1.392zM42 10.512C29.568 5.568 24.96 1.584 24.912 1.536c-.528-.48-1.296-.48-1.824 0C23.04 1.584 18.48 5.52 6 10.512c-.528.192-.864.72-.864 1.248 0 24.576 17.424 34.464 18.192 34.848.192.096.432.192.672.192a1.2 1.2 0 0 0 .672-.192c.72-.384 18.192-10.272 18.192-34.848 0-.528-.336-1.056-.864-1.248zM24 43.824C20.928 41.808 8.304 32.352 7.872 12.72 17.328 8.88 22.128 5.664 24 4.32c1.872 1.392 6.672 4.56 16.128 8.4C39.744 32.352 27.072 41.808 24 43.824z"></path>
                                    </svg>
                                    <h3 class="h5 card-title pb-1">امنیت الویت ماست</h3>
                                    <p class="card-text">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است.</p>
                                </div>
                            </div>
                        </div>
                        <!-- Feature slide-->
                        <div class="tns-item tns-slide-active" id="tns2-item1">
                            <div class="card border-0">
                                <div class="card-body">
                                    <svg class="mb-3" xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="#fd5631">
                                        <path d="M39.976 40.416l-5.667-26.529c-.098-.44-.391-.831-.782-1.026L20.531 6.217l-.928-4.202c-.195-.831-.977-1.368-1.808-1.173s-1.368.977-1.172 1.808l.879 4.202-9.136 11.335c-.293.342-.391.831-.293 1.27l5.618 26.529c.195.831.977 1.368 1.808 1.173l23.304-4.934a1.59 1.59 0 0 0 1.173-1.808zm-23.597 3.469L11.2 19.554l7.182-8.843.635 2.931c.195.831.977 1.368 1.808 1.172s1.368-.977 1.172-1.808l-.635-2.931 10.162 5.179 5.179 24.33-20.324 4.299zm7.963-17.149l-2.052.44a1.54 1.54 0 0 1-1.857-1.27c-.146-.831.44-1.612 1.27-1.759l2.052-.44c.684-.146 1.368.195 1.71.782.098.244.342.342.586.293l1.954-.44c.293-.049.489-.391.391-.684-.733-2.003-2.736-3.225-4.837-3.029l-.391-1.954c-.049-.293-.342-.489-.635-.391l-1.954.391c-.293.049-.489.342-.391.635l.391 1.954c-2.247.733-3.664 3.029-3.127 5.374.586 2.492 3.078 4.006 5.521 3.469l2.003-.44c.831-.195 1.661.293 1.857 1.124.244.879-.293 1.71-1.172 1.905l-2.101.44c-.684.147-1.368-.195-1.71-.782-.098-.195-.342-.342-.586-.293l-1.954.44c-.342.049-.488.391-.391.684.733 2.003 2.736 3.224 4.837 3.029l.391 1.905c.049.293.342.489.635.391l1.954-.391c.293-.049.489-.342.391-.635l-.391-1.905c2.247-.733 3.664-3.029 3.127-5.374-.538-2.492-3.029-4.006-5.521-3.469z"></path>
                                    </svg>
                                    <h3 class="h5 card-title pb-1">قیمت مناسب</h3>
                                    <p class="card-text">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است.</p>
                                </div>
                            </div>
                        </div>
                        <!-- Feature slide-->
                        <div class="tns-item tns-slide-active" id="tns2-item2">
                            <div class="card border-0">
                                <div class="card-body">
                                    <svg class="mb-3" xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="none">
                                        <path fill-rule="evenodd" d="M5.493 32.863a6.53 6.53 0 0 1-5.446-6.441v-3.981a6.53 6.53 0 0 1 1.913-4.619c1.225-1.225 2.887-1.913 4.619-1.913h.435C7.709 7.137 15.048.234 24 .234s16.291 6.903 16.986 15.675h.435a6.53 6.53 0 0 1 6.532 6.532v3.981a6.53 6.53 0 0 1-6.532 6.532h-1.928a1.45 1.45 0 0 1-1.447-1.448V17.274A14.05 14.05 0 0 0 24 3.228 14.05 14.05 0 0 0 9.954 17.274v14.232a1.45 1.45 0 0 1-1.447 1.448h0a8.87 8.87 0 0 0 8.821 7.935h.199c.248-.839.702-1.611 1.332-2.241.991-.991 2.336-1.548 3.738-1.548h2.807a5.29 5.29 0 0 1 5.287 5.286 5.29 5.29 0 0 1-5.287 5.287h-2.807a5.29 5.29 0 0 1-5.071-3.789h-.198c-3.147 0-6.164-1.25-8.39-3.475-2.025-2.025-3.242-4.707-3.445-7.545zm22.203 9.523c0-1.266-1.026-2.292-2.292-2.292h-2.807a2.29 2.29 0 0 0-2.292 2.292c0 1.266 1.026 2.292 2.292 2.292h2.807c1.266 0 2.292-1.026 2.292-2.292zM6.96 18.903h-.381a3.54 3.54 0 0 0-3.538 3.538v3.981a3.54 3.54 0 0 0 3.538 3.538h.381V18.903zm34.08 0V29.96h.381a3.54 3.54 0 0 0 3.538-3.538v-3.981a3.54 3.54 0 0 0-3.538-3.538h-.381z" fill="#fd5631"></path>
                                    </svg>
                                    <h3 class="h5 card-title pb-1">پشتیبانی 24/7 آنلاین</h3>
                                    <p class="card-text">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><div class="tns-nav" aria-label="Carousel Pagination" style="display: none;"><button type="button" data-nav="0" aria-controls="tns2" style="display:none" aria-label="Carousel Page 1 (Current Slide)" class="tns-nav-active"></button><button type="button" data-nav="1" tabindex="-1" aria-controls="tns2" style="display:none" aria-label="Carousel Page 2"></button><button type="button" data-nav="2" tabindex="-1" aria-controls="tns2" style="display:none" aria-label="Carousel Page 3"></button></div>
        </div>
    </div>
</section>

<section class="container mb-5 pb-2 pb-lg-4">
    <div class="row gy-4">
        <div class="col-md-5 col-12"><img class="d-block mx-auto rotate-img" src="/FinderSample/img/real-estate/illustrations/find.svg" alt="Illustration"></div>
        <div class="col-lg-6 offset-lg-1 col-md-7 col-12">
            <h2 class="h3 mb-lg-5 mb-sm-4 ">روند همکاری مشاوران املاک</h2>
            <div class="steps steps-vertical">
                <div class="step active">
                    <div class="step-progress"><span class="step-number">1</span></div>
                    <div class="step-label me-4">
                        <h3 class="h5 mb-2 pb-1">انتخاب ملک موردپسند</h3>
                        <p class="mb-0">از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.</p>
                    </div>
                </div>
                <div class="step active">
                    <div class="step-progress"><span class="step-number">2</span></div>
                    <div class="step-label me-4">
                        <h3 class="h5 mb-2 pb-1">ارسال ملک برای مشاوران</h3>
                        <p class="mb-0">از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.</p>
                    </div>
                </div>
                <div class="step active">
                    <div class="step-progress"><span class="step-number">3</span></div>
                    <div class="step-label me-4">
                        <h3 class="h5 mb-2 pb-1">پرداخت هزینه از درگاه مطمئن</h3>
                        <p class="mb-0">از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="container mb-5 pb-2 pb-lg-4">
    <div class="d-flex align-items-end justify-content-sm-between justify-content-center mb-3">
        <h2 class="h3 mb-0 text-sm-start text-center">مشاوران با تجربه سایت املاک</h2>
        <div class="tns-carousel-controls tns-controls-static d-sm-flex d-none ms-4" id="external-controls" aria-label="Carousel Navigation" tabindex="0">
            <button class="mx-2" type="button" aria-controls="tns3" tabindex="-1" data-controls="prev"><i class="fi-chevron-left"></i></button>
            <button class="mx-2" type="button" aria-controls="tns3" tabindex="-1" data-controls="next"><i class="fi-chevron-right"></i></button>
        </div>
    </div>
    <!-- Team carousel-->
    <div class="tns-carousel-wrapper tns-nav-outside tns-nav-outside-flush mx-n2">
        <div class="tns-outer" id="tns3-ow">
            <div class="tns-liveregion tns-visually-hidden" aria-live="polite" aria-atomic="true">slide <span class="current">7 to 10</span>  of 8</div><div id="tns3-mw" class="tns-ovh">
                <div class="tns-inner" id="tns3-iw">
                    <div class="tns-carousel-inner row gx-4 mx-0 pt-3 pb-4  tns-slider tns-carousel tns-subpixel tns-calc tns-horizontal" data-carousel-options="{&quot;controlsContainer&quot;: &quot;#external-controls&quot;, &quot;responsive&quot;: {&quot;0&quot;:{&quot;items&quot;:1},&quot;500&quot;:{&quot;items&quot;:2},&quot;768&quot;:{&quot;items&quot;:3},&quot;992&quot;:{&quot;items&quot;:4, &quot;nav&quot;: false}}}" id="tns3" style="transition-duration: 0s; transform: translate3d(-30%, 0px, 0px);">
                        <div class="col tns-item tns-slide-cloned" aria-hidden="true" tabindex="-1">
                            <div class="card border-0 shadow-sm mt-md-4">
                                <img class="card-img-top" src="/FinderSample/img/real-estate/about/team/03.jpg" alt="Ronald Richards">
                                <div class="card-body text-center">
                                    <h3 class="h5 card-title mb-2">رونالد ریچاردز</h3><span class="d-inline-block mb-3 fs-sm">مجری فروش</span>
                                    <div class="pt-1"><a class="btn btn-icon btn-light-primary btn-xs rounded-circle shadow-sm mx-2" href="#"><i class="fi-facebook"></i></a><a class="btn btn-icon btn-light-primary btn-xs rounded-circle shadow-sm mx-2" href="#"><i class="fi-twitter"></i></a><a class="btn btn-icon btn-light-primary btn-xs rounded-circle shadow-sm mx-2" href="#"><i class="fi-instagram"></i></a></div>
                                </div>
                            </div>
                        </div><div class="col tns-item tns-slide-cloned" aria-hidden="true" tabindex="-1">
                            <div class="card border-0 shadow-sm">
                                <img class="card-img-top" src="/FinderSample/img/real-estate/about/team/04.jpg" alt="Albert Flores">
                                <div class="card-body text-center">
                                    <h3 class="h5 card-title mb-2">آلبرت فلورس</h3><span class="d-inline-block mb-3 fs-sm">مدیر املاک</span>
                                    <div class="pt-1"><a class="btn btn-icon btn-light-primary btn-xs rounded-circle shadow-sm mx-2" href="#"><i class="fi-facebook"></i></a><a class="btn btn-icon btn-light-primary btn-xs rounded-circle shadow-sm mx-2" href="#"><i class="fi-twitter"></i></a><a class="btn btn-icon btn-light-primary btn-xs rounded-circle shadow-sm mx-2" href="#"><i class="fi-instagram"></i></a></div>
                                </div>
                            </div>
                        </div><div class="col tns-item tns-slide-cloned" aria-hidden="true" tabindex="-1">
                            <div class="card border-0 shadow-sm mt-md-4">
                                <img class="card-img-top" src="/FinderSample/img/real-estate/about/team/01.jpg" alt="Devon Lane">
                                <div class="card-body text-center">
                                    <h3 class="h5 card-title mb-2">دوون لاین</h3><span class="d-inline-block mb-3 fs-sm">نماینده املاک</span>
                                    <div class="pt-1"><a class="btn btn-icon btn-light-primary btn-xs rounded-circle shadow-sm mx-2" href="#"><i class="fi-facebook"></i></a><a class="btn btn-icon btn-light-primary btn-xs rounded-circle shadow-sm mx-2" href="#"><i class="fi-twitter"></i></a><a class="btn btn-icon btn-light-primary btn-xs rounded-circle shadow-sm mx-2" href="#"><i class="fi-instagram"></i></a></div>
                                </div>
                            </div>
                        </div><div class="col tns-item tns-slide-cloned" aria-hidden="true" tabindex="-1">
                            <div class="card border-0 shadow-sm">
                                <img class="card-img-top" src="/FinderSample/img/real-estate/about/team/02.jpg" alt="Dianne Russell">
                                <div class="card-body text-center">
                                    <h3 class="h5 card-title mb-2">دایان راسل</h3><span class="d-inline-block mb-3 fs-sm">مدیر مالی</span>
                                    <div class="pt-1"><a class="btn btn-icon btn-light-primary btn-xs rounded-circle shadow-sm mx-2" href="#"><i class="fi-facebook"></i></a><a class="btn btn-icon btn-light-primary btn-xs rounded-circle shadow-sm mx-2" href="#"><i class="fi-twitter"></i></a><a class="btn btn-icon btn-light-primary btn-xs rounded-circle shadow-sm mx-2" href="#"><i class="fi-instagram"></i></a></div>
                                </div>
                            </div>
                        </div><div class="col tns-item tns-slide-cloned" aria-hidden="true" tabindex="-1">
                            <div class="card border-0 shadow-sm mt-md-4">
                                <img class="card-img-top" src="/FinderSample/img/real-estate/about/team/03.jpg" alt="Ronald Richards">
                                <div class="card-body text-center">
                                    <h3 class="h5 card-title mb-2">رونالد ریچاردز</h3><span class="d-inline-block mb-3 fs-sm">مجری فروش</span>
                                    <div class="pt-1"><a class="btn btn-icon btn-light-primary btn-xs rounded-circle shadow-sm mx-2" href="#"><i class="fi-facebook"></i></a><a class="btn btn-icon btn-light-primary btn-xs rounded-circle shadow-sm mx-2" href="#"><i class="fi-twitter"></i></a><a class="btn btn-icon btn-light-primary btn-xs rounded-circle shadow-sm mx-2" href="#"><i class="fi-instagram"></i></a></div>
                                </div>
                            </div>
                        </div><div class="col tns-item tns-slide-cloned" aria-hidden="true" tabindex="-1">
                            <div class="card border-0 shadow-sm">
                                <img class="card-img-top" src="/FinderSample/img/real-estate/about/team/04.jpg" alt="Albert Flores">
                                <div class="card-body text-center">
                                    <h3 class="h5 card-title mb-2">آلبرت فلورس</h3><span class="d-inline-block mb-3 fs-sm">مدیر املاک</span>
                                    <div class="pt-1"><a class="btn btn-icon btn-light-primary btn-xs rounded-circle shadow-sm mx-2" href="#"><i class="fi-facebook"></i></a><a class="btn btn-icon btn-light-primary btn-xs rounded-circle shadow-sm mx-2" href="#"><i class="fi-twitter"></i></a><a class="btn btn-icon btn-light-primary btn-xs rounded-circle shadow-sm mx-2" href="#"><i class="fi-instagram"></i></a></div>
                                </div>
                            </div>
                        </div>
                        <!-- Team slide-->
                        <div class="col tns-item tns-slide-active" id="tns3-item0">
                            <div class="card border-0 shadow-sm mt-md-4">
                                <img class="card-img-top" src="/FinderSample/img/real-estate/about/team/01.jpg" alt="Devon Lane">
                                <div class="card-body text-center">
                                    <h3 class="h5 card-title mb-2">دوون لاین</h3><span class="d-inline-block mb-3 fs-sm">نماینده املاک</span>
                                    <div class="pt-1"><a class="btn btn-icon btn-light-primary btn-xs rounded-circle shadow-sm mx-2" href="#"><i class="fi-facebook"></i></a><a class="btn btn-icon btn-light-primary btn-xs rounded-circle shadow-sm mx-2" href="#"><i class="fi-twitter"></i></a><a class="btn btn-icon btn-light-primary btn-xs rounded-circle shadow-sm mx-2" href="#"><i class="fi-instagram"></i></a></div>
                                </div>
                            </div>
                        </div>
                        <!-- Team slide-->
                        <div class="col tns-item tns-slide-active" id="tns3-item1">
                            <div class="card border-0 shadow-sm">
                                <img class="card-img-top" src="/FinderSample/img/real-estate/about/team/02.jpg" alt="Dianne Russell">
                                <div class="card-body text-center">
                                    <h3 class="h5 card-title mb-2">دایان راسل</h3><span class="d-inline-block mb-3 fs-sm">مدیر مالی</span>
                                    <div class="pt-1"><a class="btn btn-icon btn-light-primary btn-xs rounded-circle shadow-sm mx-2" href="#"><i class="fi-facebook"></i></a><a class="btn btn-icon btn-light-primary btn-xs rounded-circle shadow-sm mx-2" href="#"><i class="fi-twitter"></i></a><a class="btn btn-icon btn-light-primary btn-xs rounded-circle shadow-sm mx-2" href="#"><i class="fi-instagram"></i></a></div>
                                </div>
                            </div>
                        </div>
                        <!-- Team slide-->
                        <div class="col tns-item tns-slide-active" id="tns3-item2">
                            <div class="card border-0 shadow-sm mt-md-4">
                                <img class="card-img-top" src="/FinderSample/img/real-estate/about/team/03.jpg" alt="Ronald Richards">
                                <div class="card-body text-center">
                                    <h3 class="h5 card-title mb-2">رونالد ریچاردز</h3><span class="d-inline-block mb-3 fs-sm">مجری فروش</span>
                                    <div class="pt-1"><a class="btn btn-icon btn-light-primary btn-xs rounded-circle shadow-sm mx-2" href="#"><i class="fi-facebook"></i></a><a class="btn btn-icon btn-light-primary btn-xs rounded-circle shadow-sm mx-2" href="#"><i class="fi-twitter"></i></a><a class="btn btn-icon btn-light-primary btn-xs rounded-circle shadow-sm mx-2" href="#"><i class="fi-instagram"></i></a></div>
                                </div>
                            </div>
                        </div>
                        <!-- Team slide-->
                        <div class="col tns-item tns-slide-active" id="tns3-item3">
                            <div class="card border-0 shadow-sm">
                                <img class="card-img-top" src="/FinderSample/img/real-estate/about/team/04.jpg" alt="Albert Flores">
                                <div class="card-body text-center">
                                    <h3 class="h5 card-title mb-2">آلبرت فلورس</h3><span class="d-inline-block mb-3 fs-sm">مدیر املاک</span>
                                    <div class="pt-1"><a class="btn btn-icon btn-light-primary btn-xs rounded-circle shadow-sm mx-2" href="#"><i class="fi-facebook"></i></a><a class="btn btn-icon btn-light-primary btn-xs rounded-circle shadow-sm mx-2" href="#"><i class="fi-twitter"></i></a><a class="btn btn-icon btn-light-primary btn-xs rounded-circle shadow-sm mx-2" href="#"><i class="fi-instagram"></i></a></div>
                                </div>
                            </div>
                        </div>
                        <!-- Team slide-->
                        <div class="col tns-item" id="tns3-item4" aria-hidden="true" tabindex="-1">
                            <div class="card border-0 shadow-sm mt-md-4">
                                <img class="card-img-top" src="/FinderSample/img/real-estate/about/team/01.jpg" alt="Devon Lane">
                                <div class="card-body text-center">
                                    <h3 class="h5 card-title mb-2">دوون لاین</h3><span class="d-inline-block mb-3 fs-sm">نماینده املاک</span>
                                    <div class="pt-1"><a class="btn btn-icon btn-light-primary btn-xs rounded-circle shadow-sm mx-2" href="#"><i class="fi-facebook"></i></a><a class="btn btn-icon btn-light-primary btn-xs rounded-circle shadow-sm mx-2" href="#"><i class="fi-twitter"></i></a><a class="btn btn-icon btn-light-primary btn-xs rounded-circle shadow-sm mx-2" href="#"><i class="fi-instagram"></i></a></div>
                                </div>
                            </div>
                        </div>
                        <!-- Team slide-->
                        <div class="col tns-item" id="tns3-item5" aria-hidden="true" tabindex="-1">
                            <div class="card border-0 shadow-sm">
                                <img class="card-img-top" src="/FinderSample/img/real-estate/about/team/02.jpg" alt="Dianne Russell">
                                <div class="card-body text-center">
                                    <h3 class="h5 card-title mb-2">دایان راسل</h3><span class="d-inline-block mb-3 fs-sm">مدیر مالی</span>
                                    <div class="pt-1"><a class="btn btn-icon btn-light-primary btn-xs rounded-circle shadow-sm mx-2" href="#"><i class="fi-facebook"></i></a><a class="btn btn-icon btn-light-primary btn-xs rounded-circle shadow-sm mx-2" href="#"><i class="fi-twitter"></i></a><a class="btn btn-icon btn-light-primary btn-xs rounded-circle shadow-sm mx-2" href="#"><i class="fi-instagram"></i></a></div>
                                </div>
                            </div>
                        </div>
                        <!-- Team slide-->
                        <div class="col tns-item" id="tns3-item6" aria-hidden="true" tabindex="-1">
                            <div class="card border-0 shadow-sm mt-md-4">
                                <img class="card-img-top" src="/FinderSample/img/real-estate/about/team/03.jpg" alt="Ronald Richards">
                                <div class="card-body text-center">
                                    <h3 class="h5 card-title mb-2">رونالد ریچاردز</h3><span class="d-inline-block mb-3 fs-sm">مجری فروش</span>
                                    <div class="pt-1"><a class="btn btn-icon btn-light-primary btn-xs rounded-circle shadow-sm mx-2" href="#"><i class="fi-facebook"></i></a><a class="btn btn-icon btn-light-primary btn-xs rounded-circle shadow-sm mx-2" href="#"><i class="fi-twitter"></i></a><a class="btn btn-icon btn-light-primary btn-xs rounded-circle shadow-sm mx-2" href="#"><i class="fi-instagram"></i></a></div>
                                </div>
                            </div>
                        </div>
                        <!-- Team slide-->
                        <div class="col tns-item" id="tns3-item7" aria-hidden="true" tabindex="-1">
                            <div class="card border-0 shadow-sm">
                                <img class="card-img-top" src="/FinderSample/img/real-estate/about/team/04.jpg" alt="Albert Flores">
                                <div class="card-body text-center">
                                    <h3 class="h5 card-title mb-2">آلبرت فلورس</h3><span class="d-inline-block mb-3 fs-sm">مدیر املاک</span>
                                    <div class="pt-1"><a class="btn btn-icon btn-light-primary btn-xs rounded-circle shadow-sm mx-2" href="#"><i class="fi-facebook"></i></a><a class="btn btn-icon btn-light-primary btn-xs rounded-circle shadow-sm mx-2" href="#"><i class="fi-twitter"></i></a><a class="btn btn-icon btn-light-primary btn-xs rounded-circle shadow-sm mx-2" href="#"><i class="fi-instagram"></i></a></div>
                                </div>
                            </div>
                        </div>
                        <div class="col tns-item tns-slide-cloned" aria-hidden="true" tabindex="-1">
                            <div class="card border-0 shadow-sm mt-md-4">
                                <img class="card-img-top" src="/FinderSample/img/real-estate/about/team/01.jpg" alt="Devon Lane">
                                <div class="card-body text-center">
                                    <h3 class="h5 card-title mb-2">دوون لاین</h3><span class="d-inline-block mb-3 fs-sm">نماینده املاک</span>
                                    <div class="pt-1"><a class="btn btn-icon btn-light-primary btn-xs rounded-circle shadow-sm mx-2" href="#"><i class="fi-facebook"></i></a><a class="btn btn-icon btn-light-primary btn-xs rounded-circle shadow-sm mx-2" href="#"><i class="fi-twitter"></i></a><a class="btn btn-icon btn-light-primary btn-xs rounded-circle shadow-sm mx-2" href="#"><i class="fi-instagram"></i></a></div>
                                </div>
                            </div>
                        </div><div class="col tns-item tns-slide-cloned" aria-hidden="true" tabindex="-1">
                            <div class="card border-0 shadow-sm">
                                <img class="card-img-top" src="/FinderSample/img/real-estate/about/team/02.jpg" alt="Dianne Russell">
                                <div class="card-body text-center">
                                    <h3 class="h5 card-title mb-2">دایان راسل</h3><span class="d-inline-block mb-3 fs-sm">مدیر مالی</span>
                                    <div class="pt-1"><a class="btn btn-icon btn-light-primary btn-xs rounded-circle shadow-sm mx-2" href="#"><i class="fi-facebook"></i></a><a class="btn btn-icon btn-light-primary btn-xs rounded-circle shadow-sm mx-2" href="#"><i class="fi-twitter"></i></a><a class="btn btn-icon btn-light-primary btn-xs rounded-circle shadow-sm mx-2" href="#"><i class="fi-instagram"></i></a></div>
                                </div>
                            </div>
                        </div><div class="col tns-item tns-slide-cloned" aria-hidden="true" tabindex="-1">
                            <div class="card border-0 shadow-sm mt-md-4">
                                <img class="card-img-top" src="/FinderSample/img/real-estate/about/team/03.jpg" alt="Ronald Richards">
                                <div class="card-body text-center">
                                    <h3 class="h5 card-title mb-2">رونالد ریچاردز</h3><span class="d-inline-block mb-3 fs-sm">مجری فروش</span>
                                    <div class="pt-1"><a class="btn btn-icon btn-light-primary btn-xs rounded-circle shadow-sm mx-2" href="#"><i class="fi-facebook"></i></a><a class="btn btn-icon btn-light-primary btn-xs rounded-circle shadow-sm mx-2" href="#"><i class="fi-twitter"></i></a><a class="btn btn-icon btn-light-primary btn-xs rounded-circle shadow-sm mx-2" href="#"><i class="fi-instagram"></i></a></div>
                                </div>
                            </div>
                        </div><div class="col tns-item tns-slide-cloned" aria-hidden="true" tabindex="-1">
                            <div class="card border-0 shadow-sm">
                                <img class="card-img-top" src="/FinderSample/img/real-estate/about/team/04.jpg" alt="Albert Flores">
                                <div class="card-body text-center">
                                    <h3 class="h5 card-title mb-2">آلبرت فلورس</h3><span class="d-inline-block mb-3 fs-sm">مدیر املاک</span>
                                    <div class="pt-1"><a class="btn btn-icon btn-light-primary btn-xs rounded-circle shadow-sm mx-2" href="#"><i class="fi-facebook"></i></a><a class="btn btn-icon btn-light-primary btn-xs rounded-circle shadow-sm mx-2" href="#"><i class="fi-twitter"></i></a><a class="btn btn-icon btn-light-primary btn-xs rounded-circle shadow-sm mx-2" href="#"><i class="fi-instagram"></i></a></div>
                                </div>
                            </div>
                        </div><div class="col tns-item tns-slide-cloned" aria-hidden="true" tabindex="-1">
                            <div class="card border-0 shadow-sm mt-md-4">
                                <img class="card-img-top" src="/FinderSample/img/real-estate/about/team/01.jpg" alt="Devon Lane">
                                <div class="card-body text-center">
                                    <h3 class="h5 card-title mb-2">دوون لاین</h3><span class="d-inline-block mb-3 fs-sm">نماینده املاک</span>
                                    <div class="pt-1"><a class="btn btn-icon btn-light-primary btn-xs rounded-circle shadow-sm mx-2" href="#"><i class="fi-facebook"></i></a><a class="btn btn-icon btn-light-primary btn-xs rounded-circle shadow-sm mx-2" href="#"><i class="fi-twitter"></i></a><a class="btn btn-icon btn-light-primary btn-xs rounded-circle shadow-sm mx-2" href="#"><i class="fi-instagram"></i></a></div>
                                </div>
                            </div>
                        </div><div class="col tns-item tns-slide-cloned" aria-hidden="true" tabindex="-1">
                            <div class="card border-0 shadow-sm">
                                <img class="card-img-top" src="/FinderSample/img/real-estate/about/team/02.jpg" alt="Dianne Russell">
                                <div class="card-body text-center">
                                    <h3 class="h5 card-title mb-2">دایان راسل</h3><span class="d-inline-block mb-3 fs-sm">مدیر مالی</span>
                                    <div class="pt-1"><a class="btn btn-icon btn-light-primary btn-xs rounded-circle shadow-sm mx-2" href="#"><i class="fi-facebook"></i></a><a class="btn btn-icon btn-light-primary btn-xs rounded-circle shadow-sm mx-2" href="#"><i class="fi-twitter"></i></a><a class="btn btn-icon btn-light-primary btn-xs rounded-circle shadow-sm mx-2" href="#"><i class="fi-instagram"></i></a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><div class="tns-nav" aria-label="Carousel Pagination" style="display: none;"><button type="button" data-nav="0" aria-controls="tns3" style="display:none" aria-label="Carousel Page 1 (Current Slide)" class="tns-nav-active"></button><button type="button" data-nav="1" tabindex="-1" aria-controls="tns3" style="display:none" aria-label="Carousel Page 2"></button><button type="button" data-nav="2" tabindex="-1" aria-controls="tns3" style="display:none" aria-label="Carousel Page 3"></button><button type="button" data-nav="3" tabindex="-1" aria-controls="tns3" style="display:none" aria-label="Carousel Page 4"></button><button type="button" data-nav="4" tabindex="-1" aria-controls="tns3" style="display:none" aria-label="Carousel Page 5"></button><button type="button" data-nav="5" tabindex="-1" aria-controls="tns3" style="display:none" aria-label="Carousel Page 6"></button><button type="button" data-nav="6" tabindex="-1" aria-controls="tns3" style="display:none" aria-label="Carousel Page 7"></button><button type="button" data-nav="7" tabindex="-1" aria-controls="tns3" style="display:none" aria-label="Carousel Page 8"></button></div>
        </div>
    </div>
</section>

<section class="container mb-5 pb-sm-3 pb-lg-4">
    <div class="bg-secondary rounded-3">
        <div class="col-md-11 col-12 offset-md-1 p-md-0 p-2 d-flex align-items-center justify-content-between">
            <div class="me-md-5 py-md-5 px-md-0 p-4" style="max-width: 526px;">
                <h2 class="mb-md-4 ">
                    با اطمینان ملک بخرید <br>
                    فروش ملک با بهترین قیمت
                </h2>
                <p class="mb-4 pb-md-3 fs-lg">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. </p><a class="btn btn-lg btn-primary" href="real-estate-catalog-sale.html"><i class="fi-search me-2"></i>ملک خود را پیدا کن!</a>
            </div>
            <div class="col-4 d-md-block d-none align-self-end px-0" style="display: block !important;">
                <img class="mt-n5" src="/FinderSample/img/real-estate/about/01.png" width="406" alt="Cover image"></div>
        </div>
    </div>
</section>
