




<div class="container mt-5 mb-md-4 pt-5">
    <nav class="mb-3 pt-md-3" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="real-estate-home-v1.html">خانه</a></li>
            <li class="breadcrumb-item active" aria-current="page">تماس با ما</li>
        </ol>
    </nav>
</div>

<section class="container mb-5 pb-2 pb-md-4 pb-lg-5">
    <div class="row align-items-md-start align-items-center gy-4">
        <div class="col-lg-5 col-md-6">
            <div class="mx-md-0 mx-auto mb-md-5 mb-4 pb-md-4 text-md-start text-center" style="max-width: 416px;">
                <h1 class="mb-4 ">با ما در ارتباط باشید!</h1>
                <p class="mb-0 fs-lg text-muted">فرم را تکمیل کنید و تیم ما سعی می کند در مدت 24 ساعت با شما تماس بگیرد.</p>
            </div><img class="d-block mx-auto rotate-img" src="/FinderSample/img/real-estate/illustrations/contact.svg" alt="Illustration">
        </div>
        <div class="col-md-6 offset-lg-1">
            <div class="card border-0 bg-secondary p-sm-3 p-2">
                <div class="card-body m-1">
                    <form class="needs-validation" novalidate="">
                        <div class="mb-4">
                            <label class="form-label" for="c-name">نام خانوادگی</label>
                            <input class="form-control form-control-lg" id="c-name" type="text" required="">
                            <div class="invalid-tooltip mt-1">لطفا نام و نام خانوادگی خود را وارد کنید</div>
                        </div>
                        <div class="mb-4">
                            <label class="form-label" for="c-email">پست الکترونیکی</label>
                            <input class="form-control form-control-lg" id="c-email" type="email" required="">
                            <div class="invalid-tooltip mt-1">لطفا ایمیل خود را وارد کنید</div>
                        </div>
                        <div class="mb-4">
                            <label class="form-label" for="c-message">متن درخواست</label>
                            <textarea class="form-control form-control-lg" id="c-message" rows="4" placeholder="متن مورد نظر خود را بنویسید ..." required=""></textarea>
                            <div class="invalid-tooltip mt-1">لطفا پیام خود را وارد کنید</div>
                        </div>
                        <div class="pt-sm-2 pt-1">
                            <button class="btn btn-lg btn-primary w-sm-auto w-100" type="submit">بزودی</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="container mb-5 pb-2 pb-md-4 pb-lg-5">
    <div class="row g-4">
        <!-- Item-->
        <div class="col-md-4">
            <a class="icon-box card card-hover h-100" href="mailto:example@email.com">
                <div class="card-body">
                    <div class="icon-box-media text-primary rounded-circle shadow-sm mb-3"><i class="fi-mail"></i></div><span class="d-block mb-1 text-body">ارسال ایمیل</span>
                    <h3 class="h5 icon-box-title mb-0 opacity-90">panjerehyab@email.com</h3>
                </div>
            </a>
        </div>
        <!-- Item-->
        <div class="col-md-4">
            <a class="icon-box card card-hover h-100" href="tel:4065550120">
                <div class="card-body">
                    <div class="icon-box-media text-primary rounded-circle shadow-sm mb-3"><i class="fi-device-mobile"></i></div><span class="d-block mb-1 text-body">تماس در 7 روز هفته (24/7)</span>
                    <h3 class="h5 icon-box-title mb-0 opacity-90 ltr">36603788 - 021</h3>
                </div>
            </a>
        </div>
        <!-- Item-->
        <div class="col-md-4">
            <a class="icon-box card card-hover h-100" href="#">
                <div class="card-body">
                    <div class="icon-box-media text-primary rounded-circle shadow-sm mb-3"><i class="fi-instagram"></i></div><span class="d-block mb-1 text-body">ما را دنبال کنید</span>
                    <h3 class="h5 icon-box-title mb-0 opacity-90 ltr">Panjerehyab</h3>
                </div>
            </a>
        </div>
    </div>
</section>