@using Window.Application.Extensions
@using Window.Application.Convertors
@model Window.Domain.ViewModels.Site.Inquiry.FilterInquiryViewModel
@using Window.Domain.ViewModels.Admin.QuestionAnswer
@using Window.Domain.Enums
@using Window.Application.StaticTools
@using Window.Domain.ViewModels.Common

@{
    ViewData["Title"] = "خانه";
    var countries = ViewData["Countries"] != null ? ViewData["Countries"] as List<SelectListViewModel> : null;
    var states = ViewData["States"] != null ? ViewData["States"] as List<SelectListViewModel> : null;
    var cities = ViewData["Cities"] != null ? ViewData["Cities"] as List<SelectListViewModel> : null;

    var brand = ViewBag.Brand != null ? ViewBag.Brand as List<SelectListViewModel> : null;

    var Sample = ViewBag.Sample != null ? ViewBag.Sample as List<Window.Domain.Entities.Sample.Sample> : null;

    Window.Domain.ViewModels.Site.Inquiry.SampleSizeViewModel sampleSize = new Window.Domain.ViewModels.Site.Inquiry.SampleSizeViewModel();
}

@section Styles
{

}

@section Scripts
{

<script>

      $("#ProductKind").change(function () {
          $('form#filter-search').submit();
      });

        $("#ProductType").change(function () {
          $('form#filter-search').submit();
      });

        $("#CountryId").change(function () {
        if ($("#CountryId :selected").val() !== '') {
            $('#CityId option:not(:first)').remove();
            $('#StateId option:not(:first)').remove();
            $.get("/Home/LoadCities", { stateId: $("#CountryId :selected").val() }).then(res => {
                if (res.data !== null) {
                    $.each(res.data, function () {
                        $("#StateId").append(
                            '<option value=' + this.id + '>' + this.title + '</option>'
                        );
                    });
                    $("#StateId").removeAttr("disabled");
                }
            });
        } else {
            $('#StateId option:not(:first)').remove();
            $('#CityId option:not(:first)').remove();
        }
    });

    $("#StateId").change(function () {
        if ($("#StateId :selected").val() !== '') {
            $('#CityId option:not(:first)').remove();
            $.get("/Home/LoadCities", { stateId: $("#StateId :selected").val() }).then(res => {
                if (res.data !== null) {
                    $.each(res.data, function () {
                        $("#CityId").append(
                            '<option value=' + this.id + '>' + this.title + '</option>'
                        );
                    });
                                        $("#CityId").removeAttr("disabled");
                }
            });
        } else {
            $('#CityId option:not(:first)').remove();
        }
    });

</script>

}


