@{
}


<!-- Hero-->
<section class="container-fluid my-5 pt-5 pb-lg-4 px-xxl-4">
    <div class="jarallax card align-items-center justify-content-center border-0 p-md-5 p-4 bg-secondary overflow-hidden mt-n3" style="min-height: 65vh; background-image: url(/FinderSample/img/real-estate/hero-image-v2.jpg);" data-jarallax data-speed="0.5">
        <span class="img-overlay opacity-40"></span>
        <div class="content-overlay" style="max-width: 856px;">
            <h1 class="display-5 mb-5 pb-md-3 px-md-3 text-white text-center">راه آسان برای پیدا کردن یک ملک مناسب</h1>
            <form class="form-group d-block d-md-flex position-relative rounded-md-pill me-lg-n5">
      
                <div class="d-sm-flex">

                    <a class="btn btn-primary btn-lg rounded-pill w-100 w-md-auto me-sm-3" href="#">
                        برای پیدا کردن درب و پنجره ی مورد نظر خود کلیک کنید
                    </a>
                </div>
            </form>
        </div>
    </div>
</section>

<!-- Links-->
<section class="container mb-5 pb-lg-5">
    <div class="row row-cols-md-3 row-cols-1 gy-3">
        <!-- Calculate property cost-->
        <div class="col">
            <div class="card card-hover h-100 border-0 bg-faded-warning position-relative">
                <div class="card-body pb-2">
                    <h5 class="mb-2 pb-1 ">محاسبه ارزش ملک</h5>
                    <p class="mb-0">ما می توانیم اجاره تقریبی شما را محاسبه کنیم.</p>
                </div>
                <div class="card-footer py-1 border-0"><a class="stretched-link btn btn-link mb-3 px-0 text-warning" href="#cost-calculator" data-bs-toggle="modal">محاسبه</a></div>
            </div>
        </div>
        <!-- Help center link-->
        <div class="col">
            <div class="card card-hover h-100 border-0 bg-faded-accent position-relative">
                <div class="card-body pb-2">
                    <h5 class="mb-2 pb-1 ">دیدن از مرکز پشتیبانی</h5>
                    <p class="mb-0">در اینجا می توانید سوالات متداول را پیدا کنید.</p>
                </div>
                <div class="card-footer py-1 border-0"><a class="stretched-link btn btn-link mb-3 px-0 text-accent" href="real-estate-help-center.html">بیشتر بخوانید</a></div>
            </div>
        </div>
        <!-- How it works link-->
        <div class="col">
            <div class="card card-hover h-100 border-0 bg-faded-success position-relative">
                <div class="card-body pb-2">
                    <h5 class="mb-2 pb-1 ">آشنایی با نحوه فعالیت</h5>
                    <p class="mb-0">در اینجا یک راهنمای گام به گام برای اجاره کنندگان است.</p>
                </div>
                <div class="card-footer py-1 border-0"><a class="stretched-link btn btn-link mb-3 px-0 text-success" href="real-estate-about.html">شروع کنید</a></div>
            </div>
        </div>
    </div>
</section>