@{
    ViewData["Title"] = "قوانین و مقررات ";
}

@section Styles
    {
}

@section Scripts
    {

}

<div class="parallax titlebar" data-background="/Site/images/listing-05.jpg" data-color="#333333" data-color-opacity="0.7" data-img-width="800" data-img-height="505" style="background-image: url(&quot;images/listings-parallax.jpg&quot;); background-attachment: fixed; background-size: 1600px 1010px; background-position: 50% -274.894px;">
    <div class="parallax-overlay" style="background-color: rgb(51, 51, 51); opacity: 0.7;"></div>

    <div id="titlebar">
        <div class="container">
            <div class="row">
                <div class="col-md-12">

                    <h2>شرایط و قوانین استفاده از سرویس‌ها و خدمات پنجره یاب</h2>

                    <!-- Breadcrumbs -->
                    <nav id="breadcrumbs">
                        <ul>
                            <li><a href="/">خانه</a></li>
                        </ul>
                    </nav>

                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">

    <div class="row">

        <div class="col-md-12">

            <h5 class="headline margin-top-0 margin-bottom-20">
                کاربر گرامی لطفاً موارد زیر را جهت استفاده بهینه از خدمات و برنامه‌‏های کاربردی پنجره یاب به دقت ملاحظه فرمایید. ورود کاربران به وب‏‌سایت پنجره یاب هنگام استفاده از پروفایل شخصی، طرح‏‌های تشویقی، ویدئوهای رسانه تصویری پنجره یاب و سایر خدمات ارائه شده توسط پنجره یاب به معنای آگاه بودن و پذیرفتن شرایط و قوانین و همچنین نحوه استفاده از سرویس‌‏ها و خدمات پنجره یاب است. توجه داشته باشید که ثبت سفارش نیز در هر زمان به معنی پذیرفتن کامل کلیه شرایط و قوانین پنجره یاب از سوی کاربر است. لازم به ذکر است شرایط و قوانین مندرج، جایگزین کلیه توافق‏‌های قبلی محسوب می‏‌شود.
            </h5>

            <!-- Toggles Container -->
            <div class="style-2">

                <div class="toggle-wrap">
                    <span class="trigger">
                        <a href="#">
                            <i class="sl sl-icon-pin"></i>
                            مقررات عمومی پنجره یاب
                            <i class="sl sl-icon-plus"></i>
                        </a>
                    </span>
                    <div class="toggle-container" style="display: none;">
                        <p>
                            1. پنجره یاب سامانه ایست، جهت تسهیل ارتباط میان ارائه دهندگان خدمات حوزه درب و پنجره، (کلیه اشخاص تحت نظام خاص، که با تایید سازمانی فعالیت می کنند) و اشخاصی (کاربر عادی) که به نوعی به خدمات مختلف این حوزه نیازمندند و جایگزین مراجعه حضوری به کسبه می باشد.

                            2. کلیه مقررات، اصول و رویه‏‌های پنجره یاب منطبق با قوانین جمهوری اسلامی ایران و همچنین مقررات، آیین نامه ها ، عرف یا رویه های مرتبط با حوزه نظام مهندسی است، از این رو کاربران پنجره یاب اعم از کاربران عادی و خدمت دهندگان نیز موظف به رعایت آنها می باشند و از آنجاییکه این مقررات و سایر قوانین بین‌المللی ناظر بر سرویس‌های قابل ارائه در پنجره یاب و قوانین انحصاری پنجره یاب همانند همه موارد مشابه در دنیا به طور آنلاین و ماهانه امکان تغییر دارند، شرکت «پنجره یاب» حق تغییرات آتی در قوانین را برای خود محفوظ می‌داند و شما توافق می کنید که استفاده مستمر شما از سایت به منزله پذیرش هرگونه تغییر است.

                            3. استفاده از مطالب مندرج در سامانه پنجره یاب به طور مستقیم یا غیر مستقیم، منوط به کسب اجازه کتبی از شرکت «پنجره یاب» می باشد.
                        </p>
                    </div>
                </div>

                <div class="toggle-wrap">
                    <span class="trigger">
                        <a href="#">
                            <i class="sl sl-icon-pin"></i>
                            مقررات کاربران عمومی پنجره یاب
                            <i class="sl sl-icon-plus"></i>
                        </a>
                    </span>
                    <div class="toggle-container" style="display: none;">
                        <p>
                            1. کاربر عمومی، کاربریست که جهت استفاده از خدمات و امکانات پنجره یاب، از طریق فرم مربوطه اقدام به ثبت اطلاعات کاربری در سامانه نموده است. مسئولیت صحت اطلاعات وارد شده بر عهده کاربر می باشد.

                            2. اطلاعات کاربران نزد سامانه ی پنجره یاب محرمانه تلقی شده و محفوظ می باشد.

                            3. اسفاده از کلمات موهن، نشر اکاذیب و ارسال مطالب عقیدتی ، سیاسی و قومی در پنجره یاب ممنوع است و پس از گزارش به آن رسیدگی خواهد شد.
                        </p>
                    </div>
                </div>

                <div class="toggle-wrap">
                    <span class="trigger">
                        <a href="#">
                            <i class="sl sl-icon-pin"></i>
                            سیاستهای رعایت حریم شخصی
                            <i class="sl sl-icon-plus"></i>
                        </a>
                    </span>
                    <div class="toggle-container" style="display: none;">
                        <p>
                            1. پنجره یاب به اطلاعات خصوصی اشخاصی که از خدمات سامانه استفاده می‏‌کنند، احترام گذاشته و از آن محافظت می‏‌کند.

                            2. پنجره یاب متعهد می‏‌شود در حد توان از حریم شخصی شما دفاع کند و در این راستا، تکنولوژی مورد نیاز برای هرچه مطمئن‏‌تر و امن‏‌تر شدن استفاده شما از سامانه را، توسعه دهد. در واقع با استفاده از سامانه پنجره یاب، شما رضایت خود را از این سیاست نشان می‏‌دهید.

                            3. همه مطالب در دسترس از طریق هر یک از خدمات پنجره یاب، مانند متن، گرافیک، آرم، آیکون دکمه، تصاویر، ویدئوهای تصویری، موارد قابل دانلود و کپی، داده‌ها و کلیه محتوای تولید شده توسط پنجره یاب جزئی از اموال پنجره یاب محسوب می‏‌شود و حق استفاده و نشر تمامی مطالب موجود و در دسترس در انحصار پنجره یاب است و هرگونه استفاده بدون کسب مجوز کتبی، حق پیگرد قانونی را برای پنجره یاب محفوظ می‏‌دارد.

                            4. اسکریپت‌ها، و اسامی خدمات قابل ارائه از طریق هر یک از خدمات ایجاد شده توسط پنجره یاب و علائم تجاری ثبت شده نیز در انحصار پنجره یاب است و هر گونه استفاده با مقاصد تجاری پیگرد قانونی دارد.

                            5. کاربران مجاز به بهره‌‏برداری و استفاده از لیست خدمات و محصولات و هر گونه استفاده از مشتقات سامانه پنجره یاب و یا هر یک از خدمات و یا مطالب، دانلود یا کپی کردن اطلاعات با مقاصد تجاری، هر گونه استفاده از داده کاوی، روبات، یا روش‌‏های مشابه مانند جمع آوری داده‌‏ها و ابزارهای استخراج، نیستند و کلیه این حقوق به صراحت برای پنجره یاب محفوظ است.

                            6. تنها مرجع رسمی مورد تایید ما برای ارتباط با شما، پایگاه رسمی این سامانه یعنی https://panjerehyab.ir/ است. ما با هیچ روش دیگری جز روش های مندرج در صفحه "ارتباط با ما" در سایت فوق با شما تماس نمی‌‏گیریم.

                            7. سامانه پنجره یاب هیچگونه سایت اینترنتی با آدرسی غیر از https://panjerehyab.ir/ ندارد و همچنین از طریق هیچ یک از برنامه‏‌های گفتگوی اینترنتی با شما تماس نمی‏‌گیرد. کاربران جهت برقراری ارتباط، تنها می‏‌توانند از آدرس‌‏های ذکر شده در بخش ارتباط با ما استفاده کنند.
                        </p>
                    </div>
                </div>

            </div>
            <!-- Toggles Container / End -->
        </div>

    </div>

</div>


