@model Window.Domain.Entities.SiteSetting.SiteSetting

@{
    ViewData["Title"] = "تنظیمات سایت";
}

@section Scripts
    {
    <partial name="_JqueryValidation" />
}

    @section breadcrumb
    {
    <li>
        <a asp-action="AddOrUpdateSiteSetting" asp-controller="SiteSetting" asp-area="Admin"> تنظیمات سایت </a>
    </li>
    <li>
        <a href="javascript:void(0)"> @ViewData["Title"] </a>
    </li>
}

    <form method="post" asp-action="AddOrEditSiteSetting" asp-controller="SiteSetting" asp-area="Admin" enctype="multipart/form-data">
        <div class="row">
            <div class="col-lg-12 col-sm-12">
                <div class="widget">
                    <div class="widget-header bordered-bottom bordered-green">
                        <span class="widget-caption"> @ViewData["Title"] </span>
                    </div>
                    <div class="widget-body">
                        <div>
                            <div class="row">

                                <div class="form-group col-md-12">
                                    <label asp-for="AlertForSellerForSeenProfile">
                                        متن ارسالی برای فروشندگان برای بازدید از پروفایل
                                    </label>
                                    <input type="text" class="form-control" asp-for="AlertForSellerForSeenProfile" />
                                    <span class="text-danger" asp-validation-for="AlertForSellerForSeenProfile"></span>
                                </div>

                                <div class="form-group col-md-12">
                                    <label asp-for="ChargeTariffAboutListOfInquiry">
                                        تعرفه ی حضور در لیست استعلام
                                    </label>
                                    <input type="text" class="form-control" asp-for="ChargeTariffAboutListOfInquiry" />
                                    <span class="text-danger" asp-validation-for="ChargeTariffAboutListOfInquiry"></span>
                                </div>

                                <div class="form-group col-md-12">
                                    <label asp-for="ChargeTariffAboutSellerDetail">
                                        تعرفه ی بازدید ار پروفایل فروشنده
                                    </label>
                                    <input type="text" class="form-control" asp-for="ChargeTariffAboutSellerDetail" />
                                    <span class="text-danger" asp-validation-for="ChargeTariffAboutSellerDetail"></span>
                                </div>

                            </div>

                            <hr class="margin-bottom-10 margin-top-10" />

                            <div class="row">
                                <div class="col-md-12 flex-style">
                                    <button type="submit" class="btn btn-labeled btn-palegreen">
                                        <i class="btn-label glyphicon glyphicon-ok"></i>ویرایش
                                    </button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

