@using Window.Domain.Entities.SiteSetting
@model FreeConsultant

@{
    ViewData["Title"] = @Localizer["افزودن متن جدید"];
}

@section Scripts
{
    <partial name="_JqueryValidation" />
}

@section Breadcrumb
{
    <li>
        <a href="javascript:void(0)"> @ViewData["Title"] </a>
    </li>
}

<form method="post" asp-action="EditFreeConsultant" asp-controller="SiteSetting" asp-area="Admin">
    <input asp-for="Id" type="hidden" />
    <div class="row">
        <div class="col-lg-12 col-sm-12">
            <div class="widget">
                <div class="widget-header bordered-bottom bordered-primary">
                    <span class="widget-caption"> @ViewData["Title"] </span>
                </div>
                <div class="widget-body">
                    <div>

                        <div class="row">
                            <div class="form-group col-md-12 col-sm-12">
                                <label>عنوان متن</label>
                                <input type="text" class="form-control" asp-for="Title">
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-md-12 col-sm-12">
                                <label>توضیحات</label>
                                <textarea type="text" class="form-control" asp-for="Description"></textarea>
                            </div>

                        </div>

                        <hr class="margin-bottom-10 margin-top-10" />

                        <div class="row">
                            <div class="col-md-12 flex-style">
                                <button type="submit" class="btn btn-labeled btn-primary">
                                    <i class="btn-label glyphicon glyphicon-ok"></i>ثبت
                                </button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
</form>
