@{
    ViewData["Title"] = "متون صفحه ی اصلی";
}

@section Styles
{

}

@section Scripts
{
}

@section Breadcrumb
{
    <li>
        <a href="javascript:void(0)"> @ViewData["Title"] </a>
    </li>
}

<div class="row">

    <a asp-action="SiteSetting1" asp-area="Admin" asp-controller="SiteSetting">
        <div class="col-lg-6 col-sm-6 col-xs-12">
            <div class="databox databox-lg databox-inverted radius-bordered databox-shadowed databox-graded databox-vertical">
                <div class="databox-top no-padding">
                    <img src="/admin/img/1.png" alt="" style="height:200px; width:100%;">
                </div>
            </div>
        </div>
    </a>
  
    <a asp-action="ListOfColorFullSiteSetting" asp-area="Admin" asp-controller="SiteSetting">
    <div class="col-lg-6 col-sm-6 col-xs-12">
        <div class="databox databox-lg databox-inverted radius-bordered databox-shadowed databox-graded databox-vertical">
            <div class="databox-top no-padding">
                <img src="/admin/img/2.png" alt="" style="height:200px; width:100%;">
            </div>
        </div>
        </div>
    </a>

</div>

<div class="row" style="margin-top: 70px;">

    <a asp-action="ListOfFreeConsultant" asp-area="Admin" asp-controller="SiteSetting">
        <div class="col-lg-6 col-sm-6 col-xs-12">
            <div class="databox databox-lg databox-inverted radius-bordered databox-shadowed databox-graded databox-vertical">
                <div class="databox-top no-padding">
                    <img src="/admin/img/3.png" alt="" style="height:200px; width:100%;">
                </div>
            </div>
        </div>
    </a>

    <div class="col-lg-6 col-sm-6 col-xs-12">
        <div class="databox databox-lg databox-inverted radius-bordered databox-shadowed databox-graded databox-vertical">
            <div class="databox-top no-padding">
                <img src="/admin/img/4.png" alt="" style="height:200px; width:100%;">
            </div>
        </div>
    </div>

</div>

<div class="row" style="margin-top: 70px;">

    <div class="col-lg-6 col-sm-6 col-xs-12">
        <div class="databox databox-lg databox-inverted radius-bordered databox-shadowed databox-graded databox-vertical">
            <div class="databox-top no-padding">
                <img src="/admin/img/5.png" alt="" style="height:200px; width:100%;">
            </div>
        </div>
    </div>

    <div class="col-lg-6 col-sm-6 col-xs-12">
        <div class="databox databox-lg databox-inverted radius-bordered databox-shadowed databox-graded databox-vertical">
            <div class="databox-top no-padding">
                <img src="/admin/img/6.png" alt="" style="height:200px; width:100%;">
            </div>
        </div>
    </div>

</div>

