<div class="footer">
    <div class="copyright">
        <p>کپی رایت © طراحی و توسعه قالب توسط  <a href="https://www.rtl-theme.com/user-profile/tn_plugin/" target="_blank"> تی ان پلاگین </a> 1399 </p>
    </div>
</div>