
@{
    ViewData["Title"] = @SharedHtmlLocalizer["Home"];
}

@section breadcrumb {
<li class="active">@SharedHtmlLocalizer["Home"]</li>
}

@section Styles
{
<style>

    .databox-bottom {
        height: 100% !important;
    }

    .databox.databox-vertical.databox-lg {
        height: 100%;
        width: 100%;
    }

    .databox.databox-vertical.databox-halved .databox-top {
        height: 60px;
    }

    .databox-icon {
        margin-top: 10px !important;
    }

    .dropdown-menu {
        left: 0;
        right: auto;
    }

    #ShowUserCommentInAdminPanelMinus {
        margin-left: 20px;
    }

    #ShowUserCommentInAdminPanel {
        margin-left: 5px;
    }

    #CommentDetail {
        max-width: 200px;
    }

    .section-style > header h2 {
        padding: 0 22px 0 135px;
    }

</style>
}

@section Scripts
{

}

<div class="page-body">

    <div class="row">



    </div>

</div>