@using Window.Application.Convertors
@using Window.Application.StticTools
@model Window.Domain.ViewModels.Site.Shop.Landing.ShopLandingDTO

@{
    ViewData["Title"] = "فروشگاه پنجره یاب";
    Layout = "_ShopLayout";
}

<!-- Start main-content -->
<main class="main-content dt-sl mb-3">

    <div class="container main-container">
        <!-- Start Main-Slider -->
        <div class="row mb-5">
            <aside class="sidebar col-lg-4 hidden-md order-2 pr-0 hidden-md">
                <!-- Start banner -->
                <div class="sidebar-inner dt-sl">
                    <div class="sidebar-banner">
                        <div class="row">
                            <div class="col-12 mb-1">
                                <div class="widget-banner">
                                    <a href="#">
                                        <img src="/DidiKala/assets/img/banner/banner-side-slider-1.jpg" alt="">
                                    </a>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="widget-banner">
                                    <a href="#">
                                        <img src="/DidiKala/assets/img/banner/banner-side-slider-2.jpg" alt="">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End banner -->
            </aside>
            <div class="col-lg-8 col-md-12 order-1">
                <!-- Start main-slider -->
                <section id="main-slider"
                         class="main-slider main-slider-cs mt-1 carousel slide carousel-fade card hidden-sm"
                         data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#main-slider" data-slide-to="0" class="active"></li>
                        <li data-target="#main-slider" data-slide-to="1"></li>
                        <li data-target="#main-slider" data-slide-to="2"></li>
                        <li data-target="#main-slider" data-slide-to="3"></li>
                        <li data-target="#main-slider" data-slide-to="4"></li>
                        <li data-target="#main-slider" data-slide-to="5"></li>
                        <li data-target="#main-slider" data-slide-to="6"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <a class="main-slider-slide" href="#">
                                <img src="/DidiKala/assets/img/main-slider/img-slider-2/1.jpg" alt="" class="img-fluid">
                            </a>
                        </div>
                        <div class="carousel-item">
                            <a class="main-slider-slide" href="#">
                                <img src="/DidiKala/assets/img/main-slider/img-slider-2/2.jpg" alt="" class="img-fluid">
                            </a>
                        </div>
                        <div class="carousel-item">
                            <a class="main-slider-slide" href="#">
                                <img src="/DidiKala/assets/img/main-slider/img-slider-2/3.jpg" alt="" class="img-fluid">
                            </a>
                        </div>
                        <div class="carousel-item">
                            <a class="main-slider-slide" href="#">
                                <img src="/DidiKala/assets/img/main-slider/img-slider-2/4.jpg" alt="" class="img-fluid">
                            </a>
                        </div>
                        <div class="carousel-item">
                            <a class="main-slider-slide" href="#">
                                <img src="/DidiKala/assets/img/main-slider/img-slider-2/5.jpg" alt="" class="img-fluid">
                            </a>
                        </div>
                        <div class="carousel-item">
                            <a class="main-slider-slide" href="#">
                                <img src="/DidiKala/assets/img/main-slider/img-slider-2/6.jpg" alt="" class="img-fluid">
                            </a>
                        </div>
                        <div class="carousel-item">
                            <a class="main-slider-slide" href="#">
                                <img src="/DidiKala/assets/img/main-slider/img-slider-2/7.jpg" alt="" class="img-fluid">
                            </a>
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#main-slider" role="button" data-slide="prev">
                        <i class="mdi mdi-chevron-right"></i>
                    </a>
                    <a class="carousel-control-next" href="#main-slider" data-slide="next">
                        <i class="mdi mdi-chevron-left"></i>
                    </a>
                </section>
                <section id="main-slider-res"
                         class="main-slider carousel slide carousel-fade card d-none show-sm" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#main-slider-res" data-slide-to="0" class="active"></li>
                        <li data-target="#main-slider-res" data-slide-to="1"></li>
                        <li data-target="#main-slider-res" data-slide-to="2"></li>
                        <li data-target="#main-slider-res" data-slide-to="3"></li>
                        <li data-target="#main-slider-res" data-slide-to="4"></li>
                        <li data-target="#main-slider-res" data-slide-to="5"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <a class="main-slider-slide" href="#">
                                <img src="/DidiKala/assets/img/main-slider/slider-responsive/1.jpg" alt=""
                                     class="img-fluid">
                            </a>
                        </div>
                        <div class="carousel-item">
                            <a class="main-slider-slide" href="#">
                                <img src="/DidiKala/assets/img/main-slider/slider-responsive/2.jpg" alt=""
                                     class="img-fluid">
                            </a>
                        </div>
                        <div class="carousel-item">
                            <a class="main-slider-slide" href="#">
                                <img src="/DidiKala/assets/img/main-slider/slider-responsive/3.jpg" alt=""
                                     class="img-fluid">
                            </a>
                        </div>
                        <div class="carousel-item">
                            <a class="main-slider-slide" href="#">
                                <img src="/DidiKala/assets/img/main-slider/slider-responsive/4.jpg" alt=""
                                     class="img-fluid">
                            </a>
                        </div>
                        <div class="carousel-item">
                            <a class="main-slider-slide" href="#">
                                <img src="/DidiKala/assets/img/main-slider/slider-responsive/5.jpg" alt=""
                                     class="img-fluid">
                            </a>
                        </div>
                        <div class="carousel-item">
                            <a class="main-slider-slide" href="#">
                                <img src="/DidiKala/assets/img/main-slider/slider-responsive/6.jpg" alt=""
                                     class="img-fluid">
                            </a>
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#main-slider-res" role="button" data-slide="prev">
                        <i class="mdi mdi-chevron-right"></i>
                    </a>
                    <a class="carousel-control-next" href="#main-slider-res" data-slide="next">
                        <i class="mdi mdi-chevron-left"></i>
                    </a>
                </section>
                <!-- End main-slider -->
            </div>
        </div>
        <!-- End Main-Slider -->
    </div>

    <!-- Lastest Products -->
    <partial name="_LastestProducts" model="@Model.LastestShopProducts">

        @*Lastest Shop Products*@
        @await Component.InvokeAsync("LastestShopProducts")

        <div class="container main-container">

            <!-- Picture -->
            <div class="row mt-3 mb-5">
                <div class="col-sm-6 col-12 mb-2">
                    <div class="widget-banner">
                        <a href="#">
                            <img src="/DidiKala/assets/img/banner/medium-banner-1.jpg" alt="">
                        </a>
                    </div>
                </div>
                <div class="col-sm-6 col-12 mb-2">
                    <div class="widget-banner">
                        <a href="#">
                            <img src="/DidiKala/assets/img/banner/medium-banner-2.jpg" alt="">
                        </a>
                    </div>
                </div>
            </div>

        </div>

        <!-- Lastest Sellers -->
        <partial name="_LastestSellers" model="@Model.LastestSellers">

            <!-- Popular Brands -->
            <partial name="_PopularBrands" model="@Model.LastestBrands">

                <!-- Banner -->
               @*  <div class="row mt-3 mb-5">
                    <div class="col-12">
                        <div class="widget-banner">
                            <a href="#">
                                <img src="/DidiKala/assets/img/banner/large-banner.jpg" alt="">
                            </a>
                        </div>
                    </div>
                </div> *@

</main>
<!-- End main-content -->