@model Window.Domain.ViewModels.Site.Inquiry.AddScoreToTheSellerViewModel
@{
    ViewData["Title"] = "امتیاز دهی ";
}

@section Styles
    {
}

    @section Scripts
    {

}

    <form asp-action="AddScoreToSeller" asp-controller="test" asp-area="" id="formFilter" method="post">
        <input asp-for="SellerId" value="@Model.SellerId" type="hidden" />

        <div class="row">

            <div class="col-lg-12 col-sm-12">
                <div class="widget">
                    <div class="widget-header bordered-bottom bordered-green">
                        <span class="widget-caption"> افزودن امتیاز  </span>
                    </div>
                    <div class="widget-body">
                        <div>

                            <div class="form-group">
                                <label>کیفیت کار(لطفا از 1تا 5 امتیازی را به این فروشنده اختصاص دهید .)</label>
                                <input asp-for="KeyfiateKar" type="number" min="0" max="5" class="form-control">
                            </div>

                            <hr />

                            <div class="form-group">
                                <label>صحت اطلاعات(لطفا از 1تا 5 امتیازی را به این فروشنده اختصاص دهید .)</label>
                                <input asp-for="SehateEtelaAt" type="number" min="0" max="5" class="form-control">
                            </div>

                            <div class="form-group">
                                <label>پاسخ گویی(لطفا از 1تا 5 امتیازی را به این فروشنده اختصاص دهید .)</label>
                                <input asp-for="PasokhGoie" type="number" min="0" max="5" class="form-control">
                            </div>

                            <div class="form-group">
                                <label>خدمات پس از فروش(لطفا از 1تا 5 امتیازی را به این فروشنده اختصاص دهید .)</label>
                                <input asp-for="KhadamatePasAzForosh" type="number" min="0" max="5" class="form-control">
                            </div>

                            <div class="form-group">
                                <label>تعهد زمان تحویل(لطفا از 1تا 5 امتیازی را به این فروشنده اختصاص دهید .)</label>
                                <input asp-for="KhadamatePasAzForosh" type="number" min="0" max="5" class="form-control">
                            </div>

                            <hr />

                            <div class="row">
                                <div class="col-md-12 flex-style">
                                    <button type="submit" class="btn btn-labeled w-100 btn-blue">
                                        <i class="btn-label glyphicon glyphicon-filter"></i>استعلام گیری
                                    </button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </form>

