@model Window.Domain.ViewModels.User.Account.ChangeUserPasswordViewModel

@{
    ViewData["Title"] = "ویرایش کلمه ی عبور ";
}

@section scripts{
    <partial name="_JqueryValidators" />
}

    @section Breadcrumbs{
    <div class="col-sm-6 p-md-0">
        <div class="welcome-text">
            <h4>@ViewData["Title"]</h4>
        </div>
    </div>
    <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-action="Index" asp-area="UserPanel" asp-controller="Home"> داشبورد کاربری </a></li>
            <li class="breadcrumb-item"><a href="#"> ویرایش کلمه ی عبور </a></li>
        </ol>
    </div>
}


    <div class="row">

        <div class="col-xl-12 col-lg-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title"> اطلاعات کلمه ی عبور  </h4>
                </div>
                <div class="card-body">
                    <div class="basic-form">
                        <form asp-controller="Account" asp-area="UserPanel" asp-action="ChangePassword" method="post">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                            <div class="form-row">
                                <div class="form-group col-md-12">
                                    <label>  کلمه ی عبور فعلی  </label>
                                    <input asp-for="CurrentPassword" type="password" class="form-control" placeholder=" کلمه ی عبور فعلی را وارد کنید ">
                                    <span asp-validation-for="CurrentPassword" class="text-danger"></span>
                                </div>
                                <div class="form-group col-md-6">
                                    <label>  کلمه ی عبور جدید  </label>
                                    <input asp-for="NewPassword" type="password" class="form-control" placeholder=" کلمه ی عبور جدید را وارد کنید ">
                                    <span asp-validation-for="NewPassword" class="text-danger"></span>
                                </div>
                                <div class="form-group col-md-6">
                                    <label>  تکرار کلمه ی عبور جدید  </label>
                                    <input asp-for="ReNewPassword" type="password" class="form-control" placeholder=" تکرار کلمه ی عبور را وارد کنید ">
                                    <span asp-validation-for="ReNewPassword" class="text-danger"></span>
                                </div>

                            </div>

                            <button type="submit" class="btn btn-outline-primary">ارسال</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>



