@model List<Window.Domain.ViewModels.Site.Shop.Landing.ShopCategoriesDTO>

<div class="side-menu">
    <div class="logo-nav-res dt-sl text-center">
        <a href="#">
            <img src="assets/img/logo.png" alt="">
        </a>
    </div>
    <div class="search-box-side-menu dt-sl text-center mt-2 mb-3">
        <form action="">
            <input type="text" name="s" placeholder="جستجو کنید...">
            <i class="mdi mdi-magnify"></i>
        </form>
    </div>
    <ul class="navbar-nav dt-sl">
        <li class="sub-menu">
            <a href="#">کالای دیجیتال</a>
            <ul>
                <li class="sub-menu">
                    <a href="#">عنوان دسته</a>
                    <ul>
                        <li>
                            <a href="#">زیر منو یک</a>
                        </li>
                        <li>
                            <a href="#">زیر منو دو</a>
                        </li>
                        <li>
                            <a href="#">زیر منو سه</a>
                        </li>
                        <li>
                            <a href="#">زیر منو چهار</a>
                        </li>
                    </ul>
                </li>
                <li class="sub-menu">
                    <a href="#">عنوان دسته</a>
                    <ul>
                        <li>
                            <a href="#">زیر منو یک</a>
                        </li>
                        <li>
                            <a href="#">زیر منو دو</a>
                        </li>
                        <li>
                            <a href="#">زیر منو سه</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">عنوان دسته</a>
                </li>
                <li>
                    <a href="#">عنوان دسته</a>
                </li>
                <li class="sub-menu">
                    <a href="#">عنوان دسته</a>
                    <ul>
                        <li>
                            <a href="#">زیر منو یک</a>
                        </li>
                        <li>
                            <a href="#">زیر منو دو</a>
                        </li>
                        <li>
                            <a href="#">زیر منو سه</a>
                        </li>
                        <li>
                            <a href="#">زیر منو چهار</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
        <li class="sub-menu">
            <a href="#">بهداشت و سلامت</a>
            <ul>
                <li class="sub-menu">
                    <a href="#">عنوان دسته</a>
                    <ul>
                        <li>
                            <a href="#">زیر منو یک</a>
                        </li>
                        <li>
                            <a href="#">زیر منو دو</a>
                        </li>
                        <li>
                            <a href="#">زیر منو سه</a>
                        </li>
                        <li>
                            <a href="#">زیر منو چهار</a>
                        </li>
                    </ul>
                </li>
                <li class="sub-menu">
                    <a href="#">عنوان دسته</a>
                    <ul>
                        <li>
                            <a href="#">زیر منو یک</a>
                        </li>
                        <li>
                            <a href="#">زیر منو دو</a>
                        </li>
                        <li>
                            <a href="#">زیر منو سه</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">عنوان دسته</a>
                </li>
                <li>
                    <a href="#">عنوان دسته</a>
                </li>
                <li class="sub-menu">
                    <a href="#">عنوان دسته</a>
                    <ul>
                        <li>
                            <a href="#">زیر منو یک</a>
                        </li>
                        <li>
                            <a href="#">زیر منو دو</a>
                        </li>
                        <li>
                            <a href="#">زیر منو سه</a>
                        </li>
                        <li>
                            <a href="#">زیر منو چهار</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
        <li class="sub-menu">
            <a href="#">ابزار و اداری</a>
            <ul>
                <li class="sub-menu">
                    <a href="#">عنوان دسته</a>
                    <ul>
                        <li>
                            <a href="#">زیر منو یک</a>
                        </li>
                        <li>
                            <a href="#">زیر منو دو</a>
                        </li>
                        <li>
                            <a href="#">زیر منو سه</a>
                        </li>
                        <li>
                            <a href="#">زیر منو چهار</a>
                        </li>
                    </ul>
                </li>
                <li class="sub-menu">
                    <a href="#">عنوان دسته</a>
                    <ul>
                        <li>
                            <a href="#">زیر منو یک</a>
                        </li>
                        <li>
                            <a href="#">زیر منو دو</a>
                        </li>
                        <li>
                            <a href="#">زیر منو سه</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">عنوان دسته</a>
                </li>
                <li>
                    <a href="#">عنوان دسته</a>
                </li>
                <li class="sub-menu">
                    <a href="#">عنوان دسته</a>
                    <ul>
                        <li>
                            <a href="#">زیر منو یک</a>
                        </li>
                        <li>
                            <a href="#">زیر منو دو</a>
                        </li>
                        <li>
                            <a href="#">زیر منو سه</a>
                        </li>
                        <li>
                            <a href="#">زیر منو چهار</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>
            <a href="#">مد و پوشاک</a>
        </li>
        <li>
            <a href="#">خانه و آشپزخانه</a>
        </li>
        <li>
            <a href="#">ورزش و سفر</a>
        </li>
    </ul>
</div>
