@model List<Window.Domain.Entities.Counseling.Counseling>
@{
    ViewData["Title"] = "سوالات متداول ";
}

@section Styles
    {
}

    @section Scripts
    {

}

    <div class="parallax titlebar" data-background="/Site/images/listing-05.jpg" data-color="#333333" data-color-opacity="0.7" data-img-width="800" data-img-height="505" style="background-image: url(&quot;images/listings-parallax.jpg&quot;); background-attachment: fixed; background-size: 1600px 1010px; background-position: 50% -274.894px;">
        <div class="parallax-overlay" style="background-color: rgb(51, 51, 51); opacity: 0.7;"></div>

        <div id="titlebar">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">

                        <h2>مشاوره ی رایگان</h2>
                        <span>افزایش آگاهی شما در دستور کار ما قرار دارد .</span>

                        <!-- Breadcrumbs -->
                        <nav id="breadcrumbs">
                            <ul>
                                <li><a href="/">خانه</a></li>
                            </ul>
                        </nav>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">

        <div class="row">

            <div class="col-md-12">

                <h4 class="headline margin-top-0 margin-bottom-20">مشاوره های رایگان </h4>

                <!-- Toggles Container -->
                <div class="style-2">

                @if (Model != null && Model.Any())
                {
                    foreach (var item in Model)
                    {
                        <div class="toggle-wrap">
                            <span class="trigger"><a href="#"><i class="sl sl-icon-pin"></i>@item.Title <i class="sl sl-icon-plus"></i> </a></span>
                            <div class="toggle-container" style="display: none;">
                                <p>@item.Description</p>
                            </div>
                        </div>
                    }
                }

            </div>
            <!-- Toggles Container / End -->
        </div>

    </div>

</div>


