@using Window.Application.Extensions
@using Window.Web.Culture
@model Window.Domain.Entities.Account.User
@using Window.Application.Convertors
@using Window.Application.Extensions

<header id="header-container" class="header-style-2">

    <!-- Header -->
    <div id="header">
        <div class="container">

            <!-- Left Side Content -->
            <div class="left-side">

                <!-- Logo -->
                <div id="logo" class="margin-top-10">
                    <a href="/"><img src="/Site/images/logo.png" alt=""></a>
                </div>

                <!-- Mobile Navigation -->
                <div class="mmenu-trigger">
                    <button class="hamburger hamburger--collapse" type="button">
                        <span class="hamburger-box">
                            <span class="hamburger-inner"></span>
                        </span>
                    </button>
                </div>

            </div>
            <!-- Left Side Content / End -->

            <!-- Right Side Content / End -->
            <div class="right-side">
                <ul class="header-widget">
                    <li>
                        @if (!User.Identity.IsAuthenticated)
                        {
                            <a asp-area="" asp-controller="Identity" asp-action="Login" class="sign-in"> ورود</a>
                        }
                        <a asp-area="" asp-controller="Market" asp-action="AddMarket" class="button border">درخواست ثبت فروشگاه </a>
                    </li>
                </ul>
            </div>
            <!-- Right Side Content / End -->

        </div>

        <!-- Main Navigation -->
        <nav id="navigation" class="style-2">

            <div class="container">

                <ul id="responsive">

                    <li>
                        <a class="current" href="#">استعلام گیری</a>
                        <ul>
                            <li><a asp-area="" asp-controller="InquiryProduct" asp-action="InquiryStep1">استعلام گیری</a></li>
                            <li><a asp-area="" asp-controller="InquiryProduct" asp-action="GetUserLastestInquiry">آخرین استعلام شما</a></li>
                        </ul>
                    </li>

                    <li>
                        <a asp-action="ListOfTechnicalIssuse" asp-area="" asp-controller="TechnicalIssues">تضمین در خرید</a>
                    </li>

                     <li>
                        <a asp-action="ListOfConsultant" asp-area="" asp-controller="Consultant">مشاوره ی رایگان</a>
                    </li>

                    <li>
                        <a asp-action="ListOfArticles" asp-area="" asp-controller="Article">مسائل فنی درب و پنجره</a>
                    </li>

                    <li>
                        <a asp-action="ListOfQuestionAndAnswers" asp-area="" asp-controller="QA">سوالات متداول</a>
                    </li>

                    <!-- 						<li class="right-side-menu-item"><a href="login-register.html" class="sign-in"><i class="fa fa-user"></i> Log In / Register</a></li> -->
                </ul>

            </div>
        </nav><nav id="navigation" class="style-2 cloned unsticky">
            <div class="container">
                <ul id="responsive">
        
                    <a href="/" class="sticky-logo" ><img src="/Site/images/logo.png" alt=""></a>

                    <li>
                        <a class="current" href="#">استعلام گیری</a>
                        <ul>
                            <li><a asp-area="" asp-controller="InquiryProduct" asp-action="InquiryStep1">استعلام گیری</a></li>
                            <li><a asp-area="" asp-controller="InquiryProduct" asp-action="GetUserLastestInquiry">آخرین استعلام شما</a></li>
                        </ul>
                    </li>
                    <li>
                        <a asp-action="ListOfTechnicalIssuse" asp-area="" asp-controller="TechnicalIssues">تضمین در خرید</a>
                    </li>

                    <li>
                        <a asp-action="ListOfConsultant" asp-area="" asp-controller="Consultant">مشاوره ی رایگان</a>
                    </li>

                    <li>
                        <a asp-action="ListOfArticles" asp-area="" asp-controller="Article">مسائل فنی درب و پنجره</a>
                    </li>

                    <li>
                        <a asp-action="ListOfQuestionAndAnswers" asp-area="" asp-controller="QA">سوالات متداول</a>
                    </li>
                    <!-- 						<li class="right-side-menu-item"><a href="login-register.html" class="sign-in"><i class="fa fa-user"></i> Log In / Register</a></li> -->
                </ul>
            </div>
        </nav>

        @if (User.Identity.IsAuthenticated)
        {
            <!-- User Menu -->
            <div class="container">
                <div class="row">
                    <div class="user-menu-container">
                        <div class="user-menu">
                            <div class="user-name"><span><img style="width: 80px !important;height: 40px !important;" src="@Model.GetUserAvatar()" alt=""></span>سلام, @User.Identity.Name</div>
                            <ul>
                                <li><a asp-area="Seller" asp-controller="Home" asp-action="Index"><i class="sl sl-icon-user"></i> پروفایل من </a></li>
                                <li><a asp-action="Logout" asp-area="" asp-controller="Identity"><i class="sl sl-icon-power"></i> خروج </a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- User Menu / End -->
        }

        <div class="clearfix"></div>
        <!-- Main Navigation / End -->
    </div>
    <!-- Header / End -->

</header>

<div class="clearfix"></div>


    @await Component.InvokeAsync("NewChatBar")



<!-- Header Container
================================================== -->
<div class="clearfix"></div>
<!-- Header Container / End -->