@using Window.Domain.ViewModels.Common
@using Window.Application.StaticTools
@model Window.Domain.Entities.Segment.Segment
@using Window.Domain.Enums.SellerType


@{
    ViewData["Title"] = "افزودن قطعه ی جدید";
}

@section Scripts
{
<partial name="_JqueryValidation" />
<script src="/admin/js/admin-custom.js"></script>
<script src="/admin/js/CreateArticle.js"></script>
<script src="/common/custom/custom.js"></script>
}

@section breadcrumb {

<li>
    <a href="javascript:void(0)"> @ViewData["Title"] </a>
</li>
}

<form method="post" asp-action="CreateSegment" asp-controller="Segment" asp-area="Admin" enctype="multipart/form-data">
    <div class="row">
        <div class="col-lg-9 col-sm-12">
            <div class="widget">
                <div class="widget-header bordered-bottom bordered-green">
                    <span class="widget-caption"> @ViewData["Title"] </span>
                </div>
                <div class="widget-body">
                    <div>

                        <div class="row">
                            <div class="form-group col-md-12 col-sm-12">
                                <label asp-for="SegmentName"></label>
                                <input type="text" class="form-control" asp-for="SegmentName">
                                <span class="text-danger" asp-validation-for="SegmentName"></span>
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-md-12 flex-style">
                                <button type="submit" class="btn btn-labeled btn-palegreen">
                                    <i class="btn-label glyphicon glyphicon-ok"></i>ثبت
                                </button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

                
        <div class="col-lg-3 col-sm-12">
            <div class="row">
                   <div class="col-lg-12">
                    <div class="widget">
                        <div class="widget-header bordered-bottom bordered-green">
                            <span class="widget-caption"> وضعیت </span>
                        </div>
                        <div class="widget-body">
                            <div class="row">
                                <div class="col-md-12">

                                    <div class="form-group">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" asp-for="Aluminum">
                                                <span class="text"> آلومینیوم </span>
                                            </label>
                                        </div>
                                    </div>

                                </div>

                                 <div class="col-md-12">

                                    <div class="form-group">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" asp-for="UPVC">
                                                <span class="text"> UPVC </span>
                                            </label>
                                        </div>
                                    </div>

                                </div>

                                                                <div class="col-md-12">

                                    <div class="form-group">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" asp-for="Keshoie">
                                                <span class="text"> کشویی </span>
                                            </label>
                                        </div>
                                    </div>

                                </div>

                                 <div class="col-md-12">

                                    <div class="form-group">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" asp-for="Lolaie">
                                                <span class="text"> لولایی </span>
                                            </label>
                                        </div>
                                    </div>

                                </div>

                                                                <div class="col-md-12">

                                    <div class="form-group">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" asp-for="Window">
                                                <span class="text"> پنجره </span>
                                            </label>
                                        </div>
                                    </div>

                                </div>

                                 <div class="col-md-12">

                                    <div class="form-group">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" asp-for="Door">
                                                <span class="text"> درب </span>
                                            </label>
                                        </div>
                                    </div>

                                </div>


                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</form>
