@using Window.Application.Extensions
@using Window.Web.Culture
@model Window.Domain.Entities.Account.User
@using Window.Application.Convertors
@using Window.Application.Extensions

<!-- Navbar-->
<header class="navbar navbar-expand-lg navbar-light bg-light fixed-top" data-scroll-header>
    <div class="container">
        <a class="navbar-brand ms-3 ms-xl-4 logo" href="/"><img class="d-block" src="/FinderSample/img/logo/logo-dark.svg" width="116" alt="Finder"></a>
        <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>

        @if (!User.Identity.IsAuthenticated)
        {
            <a class="btn btn-primary btn-sm ms-2 order-lg-3" asp-area="" asp-controller="Identity" asp-action="Login" > ورود</a>
            <a class="btn btn-primary btn-sm ms-2 order-lg-3" asp-area="" asp-controller="Identity" asp-action="Register" > ثبت نام </a>
        }
        else
        {
            <a class="btn btn-primary btn-sm ms-2 order-lg-3" asp-area="" asp-controller="Home" asp-action="LoginToThePanel" > ورورد به پنل</a>
            <a class="btn btn-primary btn-sm ms-2 order-lg-3" asp-area="" asp-controller="Market" asp-action="AddMarket" >ثبت فروشگاه </a>

        }

        <div class="collapse navbar-collapse order-lg-2" id="navbarNav">
            <ul class="navbar-nav navbar-nav-scroll" style="max-height: 35rem;">

                <!-- Menu items-->
                <li class="nav-item dropdown ">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">استعلام </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" asp-action="InquiryStep1" asp-area="" asp-controller="InquiryProduct">استعلام گیری</a></li>
                    </ul>
                </li>

                <!-- Menu items-->
                <li class="nav-item dropdown ">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        نماها و پنجره های خاص
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="dropdown-item" asp-action="ListOfArticles" asp-area="" asp-controller="Article">
                                نماها و پنجره های خاص
                            </a>
                        </li>
                    </ul>
                </li>

                <!-- Menu items-->
                <li class="nav-item dropdown ">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">سوالات متداول </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" asp-action="ListOfQuestionAndAnswers" asp-area="" asp-controller="QA">سوالات متداول</a></li>
                    </ul>
                </li>

                 <!-- Menu items-->
                <li class="nav-item dropdown ">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">ارتباط با ما  </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" asp-action="ContactUs" asp-area="" asp-controller="Home">ارتباط با ما</a></li>
                    </ul>
                </li>

                <!-- Menu items-->
                <li class="nav-item dropdown ">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">درباره ی ما  </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" asp-action="AboutUs" asp-area="" asp-controller="Home">درباره ی ما</a></li>
                    </ul>
                </li>

                <li class="nav-item d-lg-none"><a class="nav-link" href="#signin-modal" data-bs-toggle="modal"><i class="fi-user me-2"></i>ورود به حساب کاربری</a></li>
            </ul>
        </div>
    </div>
</header>