<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Basic Page Needs
    ================================================== -->
    <title> پنجره یاب</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- CSS
    ================================================== -->
    <partial name="_NewHeaderReferences">

                @await RenderSectionAsync("Styles", false)

</head>

<body>

    <!-- Wrapper -->
    <div id="wrapper">

        @await Component.InvokeAsync("NewSideBar")

        @RenderBody()

        <!-- Footer
        ================================================== -->
        <div id="footer" class="sticky-footer">
            <!-- Main -->
            <div class="container">
                <div class="row">
                    <div class="col-md-9 col-sm-12">
                        <img class="footer-logo" src="/Site/images/logo.png" alt="">
                        <br><br>
                        <p>
                            پنجره یاب اپلیکیشنی است برای استعلام رایگان قیمت درب و پنجره UPVC و آلومینیوم در برند های مختلف.
                            شما باانتخاب فروشنده مورد نظر خود و باتوجه به اعتبار آنان و درخواست قرار داد 
                            از فروشنده بخواهید تیک امتیاز دهی را برایتان فعال کند تا بتوانید بازخورد کار فروشنده را 
                            به سایر خریداران انعکاس دهید .
                        </p>
                    </div>

                    <div class="col-md-3  col-sm-12">
                        <h4>تماس با ما</h4>
                        <div class="text-widget">
                            <span>تهران - بزرگ راه اشرفی اصفهانی -خیابان نسترن </span> <br>
                            پشتیبانی: <span> 36603788 - 021 </span><br>
                        </div>
                    </div>

                </div>

                <!-- Copyright -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="copyrights">
                            <a href="https://www.fara-zaman.ir" class="footer-link" target="_blank">طراحی و توسعه توسط شرکت برنامه نویسی فـــرا زَمـــان</a>
                        </div>
                    </div>
                </div>

            </div>

        </div>
        <!-- Footer / End -->
        <!-- Back To Top Button -->
        <div id="backtotop"><a href="#"></a></div>

    </div>
    <!-- Wrapper / End -->
    <!-- Scripts
    ================================================== -->
    <partial name="_NewFooterReferences" />
    <partial name="_Notification" />
    <script src="~/lib/signalr/signalr.min.js"></script>

    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>

