

<!-- Back to top button-->
<a class="btn-scroll-top" href="#top" data-scroll><span class="btn-scroll-top-tooltip text-muted fs-sm me-2">بالا</span><i class="btn-scroll-top-icon fi-chevron-up">   </i></a>
<!-- Vendor scrits: js libraries and plugins-->
<script src="/FinderSample/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="/FinderSample/vendor/simplebar/dist/simplebar.min.js"></script>
<script src="/FinderSample/vendor/smooth-scroll/dist/smooth-scroll.polyfills.min.js"></script>
<script src="/FinderSample/vendor/nouislider/dist/nouislider.min.js"></script>
<script src="/FinderSample/vendor/tiny-slider/dist/min/tiny-slider.js"></script>
<script src="/FinderSample/vendor/jarallax/dist/jarallax.min.js"></script>
<!-- Main theme script-->
<script src="/FinderSample/js/theme.min.js"></script>

<script src="/FinderSample/vendor/prismjs/components/prism-core.min.js"></script>
<script src="/FinderSample/vendor/prismjs/components/prism-markup.min.js"></script>
<script src="/FinderSample/vendor/prismjs/components/prism-clike.min.js"></script>
<script src="/FinderSample/vendor/prismjs/components/prism-javascript.min.js"></script>
<script src="/FinderSample/vendor/prismjs/components/prism-pug.min.js"></script>
<script src="/FinderSample/vendor/prismjs/plugins/toolbar/prism-toolbar.min.js"></script>
<script src="/FinderSample/vendor/prismjs/plugins/copy-to-clipboard/prism-copy-to-clipboard.min.js"></script>
<script src="/FinderSample/vendor/prismjs/plugins/line-numbers/prism-line-numbers.min.js"></script>

<!--Add By Developer-->
<script src="/lib/waitme/waitMe.min.js"></script>
<script src="/lib/notification/notifications.js"></script>
<script src="/lib/sweetalert/sweetalert.js"></script>
<script src="/lib/Custom/custom.js"></script>
<script src="/lib/jquery.playsound/jquery.playsound.js"></script>

<script src="/admin/js/adminCustom.js"></script>
<script src="/admin/js/ckEditorReference.js"></script>

@*PWA Downloader Confige*@
<script src="~/Site/js/PWADownloader.js"></script>