<!DOCTYPE html>


<html lang="fa">

<head>

    <partial name="/views/shared/shop/_ShopMetaTags.cshtml">

    <title>پنجره یاب | @ViewData["Title"]</title>

    <partial name="/views/shared/shop/_shopheaderreferences.cshtml">

    @await RenderSectionAsync("Styles", false)

</head>

<body>

    <div class="wrapper">

        <partial name="/views/shared/shop/_ShopHeader.cshtml">

        <!-- Start main-content -->
        <main class="main-content dt-sl mb-3">

            @RenderBody()

        </main>
        <!-- End main-content -->

        <partial name="/views/shared/shop/_ShopFooter.cshtml">

    </div>

    <!-- colorPanel -->
    <partial name="/views/shared/shop/_ShopColorPanel.cshtml">

</body>

    <partial name="/views/shared/shop/_ShopFooterReferences.cshtml">

    <partial name="_Notification" />

    @await RenderSectionAsync("Scripts", required: false)

</html>

