@using Window.Web.Culture
@model Window.Domain.Entities.Market.Market
@{
    ViewData["Title"] = "افزودن فروشگاه";
    Layout = "Identity/_IdentityLayout";
    var culture = ApplicationCultures.GetCurrentCulture();
    var isRtl = culture.IsRtl;
}

<div class="login-container animated fadeInDown">

    <form method="post" dir="rtl">
        <div class="loginbox bg-white">
            <div class="loginbox-title">@Localizer["ورود"]</div>
           
            <div class="loginbox-textbox">
                <label asp-for="MarketName">نام فروشگاه</label>
                <input asp-for="MarketName" class="form-control"/>
                <span asp-validation-for="MarketName" class="text-danger small"></span>
            </div>

            <div class="loginbox-submit mt-3" dir="rtl">
                <input type="submit" class="btn btn-primary" value="@Localizer["ثبت"]">
            </div>

        </div>
    </form>
</div>

@section Scripts
{
    <partial name="_ValidationScriptsPartial"/>
    <partial name="_SweetAlertLocalizer"/>
}


