@{
    ViewData["Title"] = "پرداخت مبلغ  ";
}

@section Scripts
{
<partial name="_JqueryValidation" />
}

@section Breadcrumb
{
<li>
    <a href="javascript:void(0)"> @ViewData["Title"] </a>
</li>
}
<div class="row">
    <div class="col-lg-12 col-sm-12 col-xs-12">

        <div class="row">
            <div class="col-lg-12 col-sm-12 col-xs-12">
                <div class="well bordered-left bordered-themeprimary">

                    @if (ViewBag.IsSuccess == true)
                        {
                            <h1 class="mt-4 mb-2 font-w-7"> تراکنش موفقیت آمیز بوده است . </h1>
                        }
                        else
                        {
                            <h1 class="mt-4 mb-2 font-w-7"> تراکنش ناموفق بوده است .. </h1>
                        }

                </div>
            </div>
        </div>


    </div>
</div>