@model Window.Domain.ViewModels.Seller.PersonalInfo.InformationOfSellerStateViewModel
@using Window.Domain.Enums
@using Window.Application.StaticTools
@using Window.Domain.ViewModels.Common
@inject IViewLocalizer Localizer
@inject IHtmlLocalizer<SharedLocalizer> SharedHtmlLocalizer
@using System.Globalization
@using Microsoft.AspNetCore.Mvc.Localization

@{
    ViewData["Title"] = " میدیریت اطلاعات فروشگاه";
}

@section Scripts
{
<partial name="_JqueryValidation" />
}

@section Breadcrumb
{
<li>
    <a href="javascript:void(0)"> @ViewData["Title"] </a>
</li>
}
<div class="row">

    @if (!string.IsNullOrEmpty(Model.RejectNote) && Model.MarketPersonalsInfoState == Window.Domain.Entities.Market.MarketPersonalsInfoState.Rejected)
    {
        <div class="col-lg-12 col-sm-12 col-xs-12">
            <div class="widget">
                <div class="widget-header bg-red">
                    <span class="widget-caption">پیام پشتیبانی </span>
                    <div class="widget-buttons">
                        <a href="#" data-toggle="config">
                            <i class="fa fa-cog"></i>
                        </a>
                        <a href="#" data-toggle="maximize">
                            <i class="fa fa-expand"></i>
                        </a>
                        <a href="#" data-toggle="collapse">
                            <i class="fa fa-minus"></i>
                        </a>
                        <a href="#" data-toggle="dispose">
                            <i class="fa fa-times"></i>
                        </a>
                    </div><!--Widget Buttons-->
            </div><!--Widget Header-->
            <div class="widget-body bg-red">
                    <p> @Model.RejectNote </p>
                </div><!--Widget Body-->
        </div><!--Widget-->
    </div>
    }

</div>

<div class="row">
    <div class="col-lg-12 col-sm-12 col-xs-12">

        <div class="row">
            <div class="col-lg-12 col-sm-12 col-xs-12">
                <div class="well bordered-left bordered-themeprimary">
                    <p> <strong> برای نمایش اطلاعات شما در سایت می توانید اطلاعات خود را پر کنید و بعد از تایید پشتیبانی حساب کاربری خود را شارژ نمایید  </strong> </p>
                    <p> در قسمت اطلاعات فروشنده می توانید اطلاعاتی اعم از کد ملی و نام شرکت و ... را تکمیل بفرمایید  </p>
                    <p> در قسمت شارژ حساب کاربری می توانید حساب کاربری خود را به مدت 1 ماه شارژ نمایید .  </p>
                </div>
            </div>
        </div>

        <div class="row">

                <div class="col-lg-6 col-sm-6 col-xs-12">
                    <div class="databox databox-lg radius-bordered databox-shadowed databox-graded">
                        <div class="bg-palegreen databox-right">
                            <div class="databox-piechart">
                                <div data-toggle="easypiechart" class="easyPieChart" data-barcolor="#fff" data-linecap="butt" data-percent="50" data-animate="500" data-linewidth="3" data-size="60" data-trackcolor="#aadc95" style="width: 60px; height: 60px; line-height: 60px;">
                                    <i class="glyphicon glyphicon-user"></i>
                                </div>
                            </div>
                        </div>

                        <div class="databox-left">
                            <span class="databox-number green">اطلاعات فروشنده  </span>
                            <div class="databox-text darkgray">شامل کدملی فروشنده و نام فروشگاه و ...  </div>
                            <div class="databox-stat bg-green radius-bordered">
                                <a style="color:white;" asp-action="ManagePersonalInfoLink" asp-area="Seller" asp-controller="SellerPersonalInfo" class="stat-text">ویرایش</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 col-sm-6 col-xs-12">
                    <div class="databox databox-lg radius-bordered databox-shadowed databox-graded">
                        <div class="bg-info databox-right">
                            <div class="databox-piechart">
                                <div data-toggle="easypiechart" class="easyPieChart" data-barcolor="#fff" data-linecap="butt" data-percent="50" data-animate="500" data-linewidth="3" data-size="60" data-trackcolor="#aadc95" style="width: 60px; height: 60px; line-height: 60px;">
                                    <i class="glyphicon glyphicon-check"></i>
                                </div>
                            </div>
                        </div>

                        <div class="databox-left">
                            <span class="databox-number blue"> شارژ حساب کاربری  </span>
                            <div class="databox-text darkgray"> مبلغ تعرفه ی حساب کاربری و ... </div>
                            <div class="databox-stat bg-info radius-bordered">
                                <a style="color:white;" asp-action="MarketChargeInformation" asp-area="Seller" asp-controller="SellerPersonalInfo" class="stat-text">ویرایش</a>
                            </div>
                        </div>
                    </div>
                </div>

            <div class="col-lg-6 col-sm-6 col-xs-12">
                <div class="databox databox-lg radius-bordered databox-shadowed databox-graded">
                    <div class="bg-warning databox-right">
                        <div class="databox-piechart">
                            <div data-toggle="easypiechart" class="easyPieChart" data-barcolor="#fff" data-linecap="butt" data-percent="50" data-animate="500" data-linewidth="3" data-size="60" data-trackcolor="#aadc95" style="width: 60px; height: 60px; line-height: 60px;">
                                <i class="glyphicon glyphicon-film"></i>
                            </div>
                        </div>
                    </div>

                    <div class="databox-left">
                        <span class="databox-number blue"> ویدیوی معرفی شخصی  </span>
                        <div class="databox-text darkgray"> ویدیوی معرفی خود برای نمایش در سایت </div>
                        <div class="databox-stat bg-info radius-bordered">
                            <a style="color:white;" asp-action="EditAndCreateVideos" asp-area="Seller" asp-controller="SellerPersonalInfo" class="stat-text">ویرایش</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
