@using Window.Application.StticTools;
@using Window.Domain.ViewModels.Common
@model Window.Domain.ViewModels.Seller.ChequeReceipt.ShowOrderChequeReceiptDTO;

@{
    ViewData["Title"] = "آپلود رسید چک";
}

@section Styles
{
}

@section Scripts
{
}

@section Breadcrumb
{
    <li>
        <a href="javascript:void(0)"> @ViewData["Title"] </a>
    </li>
}

<form method="post" asp-action="UploadChequeReceipt" asp-controller="OrderCheque" asp-area="Seller" enctype="multipart/form-data">
    <input asp-for="OrderId" type="hidden" />
    <input asp-for="OrderChequeId" type="hidden" />

    <div class="row">
        <div class="col-lg-9 col-sm-12">
            <div class="widget">
                <div class="widget-header bordered-bottom bordered-green">
                    <span class="widget-caption"> @ViewData["Title"] </span>
                </div>
                <div class="widget-body">
                    <div>

                        <div class="row">

                            <div class="form-group col-md-12 col-sm-12">
                                <label asp-for="ChequeReceiptDescription">توضیحات(اختیاری)</label>
                                <textarea type="text" class="form-control" asp-for="ChequeReceiptDescription"></textarea>
                            </div>

                        </div>

                        <hr class="margin-bottom-10 margin-top-10" />

                        <div class="row">
                            <div class="col-md-12 flex-style">
                                <button type="submit" class="btn btn-labeled btn-palegreen">
                                    <i class="btn-label glyphicon glyphicon-ok"></i>ثبت
                                </button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>


        <div class="col-lg-3 col-sm-12">
            <div class="row">

                <div class="col-lg-12">
                    <div class="widget">
                        <div class="widget-header bordered-bottom bordered-green">
                            <span class="widget-caption"> تصویر رسید چک </span>
                        </div>
                        <div class="widget-body">
                            <div class="row">

                                <input type="file" class="display-none" name="ChequeReceiptImageFile" id="UserAvatar" ImageInput="1" accept=".jpg,.jpeg,.png" />

                                <div class="col-md-12">
                                    <label for="UserAvatar" class="file-input-style">
                                        <i class="glyphicon glyphicon-upload"></i>
                                        <span class="mr-8px"> لطفا تصویر چک را انتخاب کنید</span>
                                    </label>
                                </div>

                                @if (string.IsNullOrEmpty(Model.ChequeReceiptImageName))
                                {
                                    <div class="col-md-12 tc mt-10px">
                                        <img src="@FilePaths.DefaultUserAvatar" class="image-style" ImageFile="1" />
                                    </div>
                                }
                                else
                                {
                                    <div class="col-md-12 tc mt-10px">
                                        <img src="@FilePaths.ChequeReceiptPathThumb@Model.ChequeReceiptImageName" class="image-style" ImageFile="1" />
                                    </div>
                                }

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</form>

