@model Window.Domain.ViewModels.Site.Shop.Location.AddOrEditLocationDTO;

<div class="modal fade" id="modal-location" role="dialog" aria-labelledby="exampleModalCenterTitle" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-lg send-info modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">
                    <i class="now-ui-icons location_pin"></i>
                    افزودن آدرس جدید
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <div class="form-ui dt-sl">
                            <form class="form-account"
                                  asp-action="AddOrEditLocation"
                                  asp-controller="Location"
                                  asp-area=""
                                  method="post">
                                <div class="row">
                                    <div class="col-md-6 col-sm-12 mb-2">
                                        <div class="form-row-title">
                                            <h4>
                                                نام
                                            </h4>
                                        </div>
                                        <div class="form-row">
                                            <input class="input-ui pr-2 text-right" asp-for="FirstName" type="text" placeholder="نام ">
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-12 mb-2">
                                        <div class="form-row-title">
                                            <h4>
                                                نام خانوادگی
                                            </h4>
                                        </div>
                                        <div class="form-row">
                                            <input class="input-ui pr-2 text-right" asp-for="LastName" type="text" placeholder="نام خانوادگی ">
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-sm-12 mb-2">
                                        <div class="form-row-title">
                                            <h4>
                                                شماره موبایل
                                            </h4>
                                        </div>
                                        <div class="form-row">
                                            <input class="input-ui pl-2 dir-ltr text-left" asp-for="Mobile" type="text" placeholder="09xxxxxxxxx">
                                        </div>
                                    </div>

                                    <div class="col-md-6 col-sm-12 mb-2">
                                        <div class="form-row-title">
                                            <h4>
                                                استان
                                            </h4>
                                        </div>
                                        <div class="form-row">
                                            <input class="input-ui pr-2 text-right" asp-for="State" type="text" placeholder="استان خود را وارد نمایید">
                                        </div>
                                    </div>

                                    <div class="col-md-6 col-sm-12 mb-2">
                                        <div class="form-row-title">
                                            <h4>
                                                شهر
                                            </h4>
                                        </div>
                                        <div class="form-row">
                                            <input class="input-ui pr-2 text-right" asp-for="City" type="text" placeholder="شهر خود را وارد نمایید">
                                        </div>
                                    </div>

                                    <div class="col-12 mb-2">
                                        <div class="form-row-title">
                                            <h4>
                                                آدرس پستی
                                            </h4>
                                        </div>
                                        <div class="form-row">
                                            <textarea class="input-ui pr-2 text-right" asp-for="Address" placeholder=" آدرس تحویل گیرنده را وارد نمایید"></textarea>
                                        </div>
                                    </div>
                                    <div class="col-12 mb-2">
                                        <div class="form-row-title">
                                            <h4>
                                                کد پستی
                                            </h4>
                                        </div>
                                        <div class="form-row">
                                            <input class="input-ui pl-2 dir-ltr text-left placeholder-right" asp-for="PostalCode" type="text" placeholder=" کد پستی را بدون خط تیره بنویسید">
                                        </div>
                                    </div>
                                    <div class="col-12 pr-4 pl-4">
                                        <button type="submit" class="btn btn-sm btn-primary btn-submit-form">
                                            ثبت
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>