@model List<Window.Domain.Entities.Inquiry.LogInquiryForUserDetail>
@using Window.Domain.ViewModels.Admin
@using Window.Application.Extensions
@using Window.Application.Convertors
@using Window.Domain.ViewModels.Common


<!-- Demo switcher (offcanvas)-->
<button class="btn btn-icon btn-light rounded-circle shadow position-fixed top-50 start-0 translate-middle-y ms-3" type="button" data-bs-toggle="tooltip" data-bs-placement="right" title="انتخاب های قبلی شما" style="z-index: 1035;">
    <div class="d-flex align-items-center justify-content-center position-absolute top-0 start-0 w-100 h-100 rounded-circle" data-bs-toggle="offcanvas" data-bs-target="#demo-switcher"><i class="fi-layers"></i></div>
</button>
<div class="offcanvas offcanvas-end" id="demo-switcher">
    <div class="offcanvas-header d-block border-bottom">
        <div class="d-flex align-items-center justify-content-between mb-4">
            <h2 class="h5 mb-0">انتخاب های قبلی شما</h2>
            <button class="btn-close" type="button" data-bs-dismiss="offcanvas"></button>
        </div>
    </div>
    <div class="offcanvas-body">

        @if (Model != null && Model.Any())
        {

            foreach (var item in Model)
            {
                <div class="card card-hover shadow-sm mb-4">
                        <img class="card-img-top" src="@Window.Application.StticTools.FilePaths.SampleThumbimage/@item.Sample.Image" alt="Real Estate Demo">
                        <div class="card-body p-3">
                            <h3 class="fs-base card-title text-center"><a class="nav-link stretched-link" href="#">@item.Sample.SegmentName</a></h3>
                        </div>
                </div>

            }
        }

   
    </div>
    <div class="offcanvas-footer border-top"><a class="btn btn-primary btn-lg w-100" asp-action="InquiryStep4" asp-route-userMacAddress="@ViewBag.UserMacAddress" asp-controller="InquiryProduct" asp-area="" target="_blank" rel="noopener"><i class="fi-cart fs-lg me-2"></i> استعلام</a></div>
</div>

