<div class="modal fade preview-advertisement-modal" id="preview-advertisement-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" id="preview-advertisement-modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">پیش نمایش آگهی</h5>
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
            </div>
            <div class="modal-body p-4" id="preview-advertisement-modal-body">
                <iframe width="100%" height="600px"></iframe>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="send-ticket-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" id="send-ticket-modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">ارسال پیام</h5>
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
            </div>
            <div class="modal-body p-4" id="send-ticket-modal-body">
                <iframe width="100%" height="600px"></iframe>
            </div>
        </div>
    </div>
</div>